openapi: 3.0.0
info:
  title: Dynamics 365 Business Central
  description: Business Central Standard APIs (v1.0) for Microsoft Dynamics 365 Business Central.
  version: 1.0.0
servers:
- url: https://api.businesscentral.dynamics.com/v2.0/{environment}/api/v1.0
  description: Dynamics 365 Business Central API v1.0
  variables:
    environment:
      description: The Business Central environment name
      default: production
      enum:
      - production
      - sandbox
security:
- oAuth:
  - Financials.ReadWrite.All
tags:
- name: company
  description: Represents an object of type company in Dynamics 365 Business Central
- name: item
  description: Represents an object of type item in Dynamics 365 Business Central
- name: picture
  description: Represents an object of type picture in Dynamics 365 Business Central
- name: defaultDimensions
  description: Represents an object of type defaultDimensions in Dynamics 365 Business Central
- name: customer
  description: Represents an object of type customer in Dynamics 365 Business Central
- name: customerFinancialDetail
  description: Represents an object of type customerFinancialDetail in Dynamics 365 Business Central
- name: vendor
  description: Represents an object of type vendor in Dynamics 365 Business Central
- name: companyInformation
  description: Represents an object of type companyInformation in Dynamics 365 Business Central
- name: salesInvoice
  description: Represents an object of type salesInvoice in Dynamics 365 Business Central
- name: salesInvoiceLine
  description: Represents an object of type salesInvoiceLine in Dynamics 365 Business Central
- name: pdfDocument
  description: Represents an object of type pdfDocument in Dynamics 365 Business Central
- name: customerPaymentJournal
  description: Represents an object of type customerPaymentJournal in Dynamics 365 Business Central
- name: customerPayment
  description: Represents an object of type customerPayment in Dynamics 365 Business Central
- name: account
  description: Represents an object of type account in Dynamics 365 Business Central
- name: taxGroup
  description: Represents an object of type taxGroup in Dynamics 365 Business Central
- name: journal
  description: Represents an object of type journal in Dynamics 365 Business Central
- name: journalLine
  description: Represents an object of type journalLine in Dynamics 365 Business Central
- name: attachments
  description: Represents an object of type attachments in Dynamics 365 Business Central
- name: employee
  description: Represents an object of type employee in Dynamics 365 Business Central
- name: timeRegistrationEntry
  description: Represents an object of type timeRegistrationEntry in Dynamics 365 Business Central
- name: generalLedgerEntry
  description: Represents an object of type generalLedgerEntry in Dynamics 365 Business Central
- name: currency
  description: Represents an object of type currency in Dynamics 365 Business Central
- name: paymentMethod
  description: Represents an object of type paymentMethod in Dynamics 365 Business Central
- name: dimension
  description: Represents an object of type dimension in Dynamics 365 Business Central
- name: dimensionValue
  description: Represents an object of type dimensionValue in Dynamics 365 Business Central
- name: dimensionLine
  description: Represents an object of type dimensionLine in Dynamics 365 Business Central
- name: paymentTerm
  description: Represents an object of type paymentTerm in Dynamics 365 Business Central
- name: shipmentMethod
  description: Represents an object of type shipmentMethod in Dynamics 365 Business Central
- name: itemCategory
  description: Represents an object of type itemCategory in Dynamics 365 Business Central
- name: cashFlowStatement
  description: Represents an object of type cashFlowStatement in Dynamics 365 Business Central
- name: countryRegion
  description: Represents an object of type countryRegion in Dynamics 365 Business Central
- name: salesOrder
  description: Represents an object of type salesOrder in Dynamics 365 Business Central
- name: salesOrderLine
  description: Represents an object of type salesOrderLine in Dynamics 365 Business Central
- name: retainedEarningsStatement
  description: Represents an object of type retainedEarningsStatement in Dynamics 365 Business Central
- name: unitOfMeasure
  description: Represents an object of type unitOfMeasure in Dynamics 365 Business Central
- name: agedAccountsReceivable
  description: Represents an object of type agedAccountsReceivable in Dynamics 365 Business Central
- name: agedAccountsPayable
  description: Represents an object of type agedAccountsPayable in Dynamics 365 Business Central
- name: balanceSheet
  description: Represents an object of type balanceSheet in Dynamics 365 Business Central
- name: trialBalance
  description: Represents an object of type trialBalance in Dynamics 365 Business Central
- name: incomeStatement
  description: Represents an object of type incomeStatement in Dynamics 365 Business Central
- name: taxArea
  description: Represents an object of type taxArea in Dynamics 365 Business Central
- name: salesQuote
  description: Represents an object of type salesQuote in Dynamics 365 Business Central
- name: salesQuoteLine
  description: Represents an object of type salesQuoteLine in Dynamics 365 Business Central
- name: salesCreditMemo
  description: Represents an object of type salesCreditMemo in Dynamics 365 Business Central
- name: salesCreditMemoLine
  description: Represents an object of type salesCreditMemoLine in Dynamics 365 Business Central
- name: generalLedgerEntryAttachments
  description: Represents an object of type generalLedgerEntryAttachments in Dynamics 365 Business Central
- name: purchaseInvoice
  description: Represents an object of type purchaseInvoice in Dynamics 365 Business Central
- name: purchaseInvoiceLine
  description: Represents an object of type purchaseInvoiceLine in Dynamics 365 Business Central
- name: project
  description: Represents an object of type project in Dynamics 365 Business Central
- name: bankAccount
  description: Represents an object of type bankAccount in Dynamics 365 Business Central
- name: customerSale
  description: Represents an object of type customerSale in Dynamics 365 Business Central
- name: vendorPurchase
  description: Represents an object of type vendorPurchase in Dynamics 365 Business Central
paths:
  /companies:
    get:
      tags:
      - company
      summary: Returns a list of companies
      operationId: listCompanies
      parameters:
      - $ref: '#/components/parameters/topParam'
      - $ref: '#/components/parameters/skipParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/filterParam'
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - systemVersion
            - name
            - displayName
            - businessProfileId
        x-ballerina-name: select
      responses:
        '200':
          description: A list of companies was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCollection'
  /companies({companyId}):
    get:
      tags:
      - company
      summary: Returns a company
      operationId: getCompany
      parameters:
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - systemVersion
            - name
            - displayName
            - businessProfileId
        x-ballerina-name: select
      responses:
        '200':
          description: The requested company was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/items:
    get:
      tags:
      - item
      summary: Returns a list of items
      operationId: listItems
      parameters:
      - $ref: '#/components/parameters/topParam'
      - $ref: '#/components/parameters/skipParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/filterParam'
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - picture
            - defaultDimensions
            - itemCategory
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
            - type
            - itemCategoryId
            - itemCategoryCode
            - blocked
            - baseUnitOfMeasureId
            - baseUnitOfMeasure
            - gtin
            - inventory
            - unitPrice
            - priceIncludesTax
            - unitCost
            - taxGroupId
            - taxGroupCode
            - lastModifiedDateTime
        x-ballerina-name: select
      responses:
        '200':
          description: A list of items was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemCollection'
    post:
      tags:
      - item
      summary: Creates an item
      operationId: createItem
      requestBody:
        $ref: '#/components/requestBodies/item'
      responses:
        '201':
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/items({itemId}):
    get:
      tags:
      - item
      summary: Returns an item
      operationId: getItem
      parameters:
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - picture
            - defaultDimensions
            - itemCategory
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
            - type
            - itemCategoryId
            - itemCategoryCode
            - blocked
            - baseUnitOfMeasureId
            - baseUnitOfMeasure
            - gtin
            - inventory
            - unitPrice
            - priceIncludesTax
            - unitCost
            - taxGroupId
            - taxGroupCode
            - lastModifiedDateTime
        x-ballerina-name: select
      responses:
        '200':
          description: The requested item was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
    delete:
      tags:
      - item
      summary: Deletes an item
      operationId: deleteItem
      responses:
        '204':
          description: The item was deleted successfully.
    patch:
      tags:
      - item
      summary: Updates an item
      operationId: updateItem
      parameters:
      - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/item'
      responses:
        '200':
          description: The updated item was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: itemId
      in: path
      description: The unique identifier of the item.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/items({itemId})/picture:
    get:
      tags:
      - picture
      summary: Returns a list of pictures for an item
      operationId: listPicturesForItem
      parameters:
      - $ref: '#/components/parameters/topParam'
      - $ref: '#/components/parameters/skipParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/filterParam'
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
        x-ballerina-name: select
      responses:
        '200':
          description: A list of pictures was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PictureCollection'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: itemId
      in: path
      description: The unique identifier of the item.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/items({itemId})/picture({pictureId}):
    get:
      tags:
      - picture
      summary: Returns a picture for an item
      operationId: getPictureForItem
      parameters:
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
        x-ballerina-name: select
      responses:
        '200':
          description: The requested picture was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Picture'
    delete:
      tags:
      - picture
      summary: Deletes a picture for an item
      operationId: deletePictureForItem
      responses:
        '204':
          description: The picture was deleted successfully.
    patch:
      tags:
      - picture
      summary: Updates a picture for an item
      operationId: updatePictureForItem
      parameters:
      - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/picture'
      responses:
        '200':
          description: The updated picture was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Picture'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: itemId
      in: path
      description: The unique identifier of the item.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: pictureId
      in: path
      description: The unique identifier of the picture.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/items({itemId})/defaultDimensions:
    get:
      tags:
      - defaultDimensions
      summary: Returns a list of default dimensions for an item
      operationId: listDefaultDimensionsForItem
      parameters:
      - $ref: '#/components/parameters/topParam'
      - $ref: '#/components/parameters/skipParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/filterParam'
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
        x-ballerina-name: select
      responses:
        '200':
          description: A list of default dimensions was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDimensionsCollection'
    post:
      tags:
      - defaultDimensions
      summary: Creates a default dimension for an item
      operationId: createDefaultDimensionsForItem
      requestBody:
        $ref: '#/components/requestBodies/defaultDimensions'
      responses:
        '201':
          description: The default dimension was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDimensions'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: itemId
      in: path
      description: The unique identifier of the item.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/items({itemId})/defaultDimensions({defaultDimensionsParentId},{defaultDimensionsDimensionId}):
    get:
      tags:
      - defaultDimensions
      summary: Returns a default dimension for an item
      operationId: getDefaultDimensionsForItem
      parameters:
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
        x-ballerina-name: select
      responses:
        '200':
          description: The requested default dimension was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDimensions'
    delete:
      tags:
      - defaultDimensions
      summary: Deletes a default dimension for an item
      operationId: deleteDefaultDimensionsForItem
      responses:
        '204':
          description: The default dimension was deleted successfully.
    patch:
      tags:
      - defaultDimensions
      summary: Updates a default dimension for an item
      operationId: updateDefaultDimensionsForItem
      parameters:
      - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/defaultDimensions'
      responses:
        '200':
          description: The updated default dimension was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDimensions'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: itemId
      in: path
      description: The unique identifier of the item.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: defaultDimensionsParentId
      in: path
      description: The parent id of the default dimensions.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: defaultDimensionsDimensionId
      in: path
      description: The dimension id of the default dimensions.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/picture:
    get:
      tags:
      - picture
      summary: Returns a list of pictures
      operationId: listPictures
      parameters:
      - $ref: '#/components/parameters/topParam'
      - $ref: '#/components/parameters/skipParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/filterParam'
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
        x-ballerina-name: select
      responses:
        '200':
          description: A list of pictures was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PictureCollection'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/picture({pictureId}):
    get:
      tags:
      - picture
      summary: Returns a picture
      operationId: getPicture
      parameters:
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
        x-ballerina-name: select
      responses:
        '200':
          description: The requested picture was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Picture'
    delete:
      tags:
      - picture
      summary: Deletes a picture
      operationId: deletePicture
      responses:
        '204':
          description: The picture was deleted successfully.
    patch:
      tags:
      - picture
      summary: Updates a picture
      operationId: updatePicture
      parameters:
      - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/picture'
      responses:
        '200':
          description: The updated picture was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Picture'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: pictureId
      in: path
      description: The unique identifier of the picture.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/defaultDimensions:
    get:
      tags:
      - defaultDimensions
      summary: Returns a list of default dimensions
      operationId: listDefaultDimensions
      parameters:
      - $ref: '#/components/parameters/topParam'
      - $ref: '#/components/parameters/skipParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/filterParam'
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
        x-ballerina-name: select
      responses:
        '200':
          description: A list of default dimensions was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDimensionsCollection'
    post:
      tags:
      - defaultDimensions
      summary: Creates a default dimension
      operationId: createDefaultDimensions
      requestBody:
        $ref: '#/components/requestBodies/defaultDimensions'
      responses:
        '201':
          description: The default dimension was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDimensions'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/defaultDimensions({defaultDimensionsParentId},{defaultDimensionsDimensionId}):
    get:
      tags:
      - defaultDimensions
      summary: Returns a default dimension
      operationId: getDefaultDimensions
      parameters:
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
        x-ballerina-name: select
      responses:
        '200':
          description: The requested default dimension was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDimensions'
    delete:
      tags:
      - defaultDimensions
      summary: Deletes a default dimension
      operationId: deleteDefaultDimensions
      responses:
        '204':
          description: The default dimension was deleted successfully.
    patch:
      tags:
      - defaultDimensions
      summary: Updates a default dimension
      operationId: updateDefaultDimensions
      parameters:
      - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/defaultDimensions'
      responses:
        '200':
          description: The updated default dimension was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDimensions'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: defaultDimensionsParentId
      in: path
      description: The parent id of the default dimensions.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: defaultDimensionsDimensionId
      in: path
      description: The dimension id of the default dimensions.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/customers:
    get:
      tags:
      - customer
      summary: Returns a list of customers
      operationId: listCustomers
      parameters:
      - $ref: '#/components/parameters/topParam'
      - $ref: '#/components/parameters/skipParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/filterParam'
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - customerFinancialDetails
            - picture
            - defaultDimensions
            - currency
            - paymentTerm
            - shipmentMethod
            - paymentMethod
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
            - type
            - address
            - phoneNumber
            - email
            - website
            - taxLiable
            - taxAreaId
            - taxAreaDisplayName
            - taxRegistrationNumber
            - currencyId
            - currencyCode
            - paymentTermsId
            - shipmentMethodId
            - paymentMethodId
            - blocked
            - lastModifiedDateTime
        x-ballerina-name: select
      responses:
        '200':
          description: A list of customers was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCollection'
    post:
      tags:
      - customer
      summary: Creates a customer
      operationId: createCustomer
      requestBody:
        $ref: '#/components/requestBodies/customer'
      responses:
        '201':
          description: The customer was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/customers({customerId}):
    get:
      tags:
      - customer
      summary: Returns a customer
      operationId: getCustomer
      parameters:
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - customerFinancialDetails
            - picture
            - defaultDimensions
            - currency
            - paymentTerm
            - shipmentMethod
            - paymentMethod
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
            - type
            - address
            - phoneNumber
            - email
            - website
            - taxLiable
            - taxAreaId
            - taxAreaDisplayName
            - taxRegistrationNumber
            - currencyId
            - currencyCode
            - paymentTermsId
            - shipmentMethodId
            - paymentMethodId
            - blocked
            - lastModifiedDateTime
        x-ballerina-name: select
      responses:
        '200':
          description: The requested customer was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
    delete:
      tags:
      - customer
      summary: Deletes a customer
      operationId: deleteCustomer
      responses:
        '204':
          description: The customer was deleted successfully.
    patch:
      tags:
      - customer
      summary: Updates a customer
      operationId: updateCustomer
      parameters:
      - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/customer'
      responses:
        '200':
          description: The updated customer was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: customerId
      in: path
      description: The unique identifier of the customer.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/customers({customerId})/customerFinancialDetails:
    get:
      tags:
      - customerFinancialDetail
      summary: Returns a list of customer financial details for a customer
      operationId: listCustomerFinancialDetailsForCustomer
      parameters:
      - $ref: '#/components/parameters/topParam'
      - $ref: '#/components/parameters/skipParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/filterParam'
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - balance
            - totalSalesExcludingTax
            - overdueAmount
        x-ballerina-name: select
      responses:
        '200':
          description: A list of customer financial details was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerFinancialDetailCollection'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: customerId
      in: path
      description: The unique identifier of the customer.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/customers({customerId})/customerFinancialDetails({customerFinancialDetailId}):
    get:
      tags:
      - customerFinancialDetail
      summary: Returns a customer financial detail for a customer
      operationId: getCustomerFinancialDetailForCustomer
      parameters:
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - balance
            - totalSalesExcludingTax
            - overdueAmount
        x-ballerina-name: select
      responses:
        '200':
          description: The requested customer financial detail was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerFinancialDetail'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: customerId
      in: path
      description: The unique identifier of the customer.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: customerFinancialDetailId
      in: path
      description: The unique identifier of the customer financial detail.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/customers({customerId})/picture:
    get:
      tags:
      - picture
      summary: Returns a list of pictures for a customer
      operationId: listPicturesForCustomer
      parameters:
      - $ref: '#/components/parameters/topParam'
      - $ref: '#/components/parameters/skipParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/filterParam'
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
        x-ballerina-name: select
      responses:
        '200':
          description: A list of pictures was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PictureCollection'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: customerId
      in: path
      description: The unique identifier of the customer.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/customers({customerId})/picture({pictureId}):
    get:
      tags:
      - picture
      summary: Returns a picture for a customer
      operationId: getPictureForCustomer
      parameters:
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
        x-ballerina-name: select
      responses:
        '200':
          description: The requested picture was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Picture'
    delete:
      tags:
      - picture
      summary: Deletes a picture for a customer
      operationId: deletePictureForCustomer
      responses:
        '204':
          description: The picture was deleted successfully.
    patch:
      tags:
      - picture
      summary: Updates a picture for a customer
      operationId: updatePictureForCustomer
      parameters:
      - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/picture'
      responses:
        '200':
          description: The updated picture was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Picture'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: customerId
      in: path
      description: The unique identifier of the customer.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: pictureId
      in: path
      description: The unique identifier of the picture.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/customers({customerId})/defaultDimensions:
    get:
      tags:
      - defaultDimensions
      summary: Returns a list of default dimensions for a customer
      operationId: listDefaultDimensionsForCustomer
      parameters:
      - $ref: '#/components/parameters/topParam'
      - $ref: '#/components/parameters/skipParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/filterParam'
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
        x-ballerina-name: select
      responses:
        '200':
          description: A list of default dimensions was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDimensionsCollection'
    post:
      tags:
      - defaultDimensions
      summary: Creates a default dimension for a customer
      operationId: createDefaultDimensionsForCustomer
      requestBody:
        $ref: '#/components/requestBodies/defaultDimensions'
      responses:
        '201':
          description: The default dimension was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDimensions'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: customerId
      in: path
      description: The unique identifier of the customer.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  ? /companies({companyId})/customers({customerId})/defaultDimensions({defaultDimensionsParentId},{defaultDimensionsDimensionId})
  : get:
      tags:
      - defaultDimensions
      summary: Returns a default dimension for a customer
      operationId: getDefaultDimensionsForCustomer
      parameters:
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
        x-ballerina-name: select
      responses:
        '200':
          description: The requested default dimension was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDimensions'
    delete:
      tags:
      - defaultDimensions
      summary: Deletes a default dimension for a customer
      operationId: deleteDefaultDimensionsForCustomer
      responses:
        '204':
          description: The default dimension was deleted successfully.
    patch:
      tags:
      - defaultDimensions
      summary: Updates a default dimension for a customer
      operationId: updateDefaultDimensionsForCustomer
      parameters:
      - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/defaultDimensions'
      responses:
        '200':
          description: The updated default dimension was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDimensions'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: customerId
      in: path
      description: The unique identifier of the customer.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: defaultDimensionsParentId
      in: path
      description: The parent id of the default dimensions.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: defaultDimensionsDimensionId
      in: path
      description: The dimension id of the default dimensions.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/customerFinancialDetails:
    get:
      tags:
      - customerFinancialDetail
      summary: Returns a list of customer financial details
      operationId: listCustomerFinancialDetails
      parameters:
      - $ref: '#/components/parameters/topParam'
      - $ref: '#/components/parameters/skipParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/filterParam'
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - balance
            - totalSalesExcludingTax
            - overdueAmount
        x-ballerina-name: select
      responses:
        '200':
          description: A list of customer financial details was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerFinancialDetailCollection'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/customerFinancialDetails({customerFinancialDetailId}):
    get:
      tags:
      - customerFinancialDetail
      summary: Returns a customer financial detail
      operationId: getCustomerFinancialDetail
      parameters:
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - balance
            - totalSalesExcludingTax
            - overdueAmount
        x-ballerina-name: select
      responses:
        '200':
          description: The requested customer financial detail was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerFinancialDetail'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: customerFinancialDetailId
      in: path
      description: The unique identifier of the customer financial detail.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/vendors:
    get:
      tags:
      - vendor
      summary: Returns a list of vendors
      operationId: listVendors
      parameters:
      - $ref: '#/components/parameters/topParam'
      - $ref: '#/components/parameters/skipParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/filterParam'
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - picture
            - defaultDimensions
            - currency
            - paymentTerm
            - paymentMethod
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
            - address
            - phoneNumber
            - email
            - website
            - taxRegistrationNumber
            - currencyId
            - currencyCode
            - irs1099Code
            - paymentTermsId
            - paymentMethodId
            - taxLiable
            - blocked
            - balance
            - lastModifiedDateTime
        x-ballerina-name: select
      responses:
        '200':
          description: A list of vendors was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorCollection'
    post:
      tags:
      - vendor
      summary: Creates a vendor
      operationId: createVendor
      requestBody:
        $ref: '#/components/requestBodies/vendor'
      responses:
        '201':
          description: The vendor was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vendor'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/vendors({vendorId}):
    get:
      tags:
      - vendor
      summary: Returns a vendor
      operationId: getVendor
      parameters:
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - picture
            - defaultDimensions
            - currency
            - paymentTerm
            - paymentMethod
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
            - address
            - phoneNumber
            - email
            - website
            - taxRegistrationNumber
            - currencyId
            - currencyCode
            - irs1099Code
            - paymentTermsId
            - paymentMethodId
            - taxLiable
            - blocked
            - balance
            - lastModifiedDateTime
        x-ballerina-name: select
      responses:
        '200':
          description: The requested vendor was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vendor'
    delete:
      tags:
      - vendor
      summary: Deletes a vendor
      operationId: deleteVendor
      responses:
        '204':
          description: The vendor was deleted successfully.
    patch:
      tags:
      - vendor
      summary: Updates a vendor
      operationId: updateVendor
      parameters:
      - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/vendor'
      responses:
        '200':
          description: The updated vendor was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vendor'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: vendorId
      in: path
      description: The unique identifier of the vendor.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/vendors({vendorId})/picture:
    get:
      tags:
      - picture
      summary: Returns a list of pictures for a vendor
      operationId: listPicturesForVendor
      parameters:
      - $ref: '#/components/parameters/topParam'
      - $ref: '#/components/parameters/skipParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/filterParam'
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
        x-ballerina-name: select
      responses:
        '200':
          description: A list of pictures was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PictureCollection'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: vendorId
      in: path
      description: The unique identifier of the vendor.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/vendors({vendorId})/picture({pictureId}):
    get:
      tags:
      - picture
      summary: Returns a picture for a vendor
      operationId: getPictureForVendor
      parameters:
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
        x-ballerina-name: select
      responses:
        '200':
          description: The requested picture was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Picture'
    delete:
      tags:
      - picture
      summary: Deletes a picture for a vendor
      operationId: deletePictureForVendor
      responses:
        '204':
          description: The picture was deleted successfully.
    patch:
      tags:
      - picture
      summary: Updates a picture for a vendor
      operationId: updatePictureForVendor
      parameters:
      - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/picture'
      responses:
        '200':
          description: The updated picture was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Picture'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: vendorId
      in: path
      description: The unique identifier of the vendor.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: pictureId
      in: path
      description: The unique identifier of the picture.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/vendors({vendorId})/defaultDimensions:
    get:
      tags:
      - defaultDimensions
      summary: Returns a list of default dimensions for a vendor
      operationId: listDefaultDimensionsForVendor
      parameters:
      - $ref: '#/components/parameters/topParam'
      - $ref: '#/components/parameters/skipParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/filterParam'
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
        x-ballerina-name: select
      responses:
        '200':
          description: A list of default dimensions was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDimensionsCollection'
    post:
      tags:
      - defaultDimensions
      summary: Creates a default dimension for a vendor
      operationId: createDefaultDimensionsForVendor
      requestBody:
        $ref: '#/components/requestBodies/defaultDimensions'
      responses:
        '201':
          description: The default dimension was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDimensions'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: vendorId
      in: path
      description: The unique identifier of the vendor.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/vendors({vendorId})/defaultDimensions({defaultDimensionsParentId},{defaultDimensionsDimensionId}):
    get:
      tags:
      - defaultDimensions
      summary: Returns a default dimension for a vendor
      operationId: getDefaultDimensionsForVendor
      parameters:
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
        x-ballerina-name: select
      responses:
        '200':
          description: The requested default dimension was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDimensions'
    delete:
      tags:
      - defaultDimensions
      summary: Deletes a default dimension for a vendor
      operationId: deleteDefaultDimensionsForVendor
      responses:
        '204':
          description: The default dimension was deleted successfully.
    patch:
      tags:
      - defaultDimensions
      summary: Updates a default dimension for a vendor
      operationId: updateDefaultDimensionsForVendor
      parameters:
      - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/defaultDimensions'
      responses:
        '200':
          description: The updated default dimension was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDimensions'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: vendorId
      in: path
      description: The unique identifier of the vendor.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: defaultDimensionsParentId
      in: path
      description: The parent id of the default dimensions.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: defaultDimensionsDimensionId
      in: path
      description: The dimension id of the default dimensions.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/companyInformation:
    get:
      tags:
      - companyInformation
      summary: Returns a list of company information records
      operationId: listCompanyInformation
      parameters:
      - $ref: '#/components/parameters/topParam'
      - $ref: '#/components/parameters/skipParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/filterParam'
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - displayName
            - address
            - phoneNumber
            - faxNumber
            - email
            - website
            - taxRegistrationNumber
            - currencyCode
            - currentFiscalYearStartDate
            - industry
            - picture
            - lastModifiedDateTime
        x-ballerina-name: select
      responses:
        '200':
          description: A list of company information records was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyInformationCollection'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/companyInformation({companyInformationId}):
    get:
      tags:
      - companyInformation
      summary: Returns a company information record
      operationId: getCompanyInformation
      parameters:
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - displayName
            - address
            - phoneNumber
            - faxNumber
            - email
            - website
            - taxRegistrationNumber
            - currencyCode
            - currentFiscalYearStartDate
            - industry
            - picture
            - lastModifiedDateTime
        x-ballerina-name: select
      responses:
        '200':
          description: The requested company information record was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyInformation'
    patch:
      tags:
      - companyInformation
      summary: Updates a company information record
      operationId: updateCompanyInformation
      parameters:
      - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/companyInformation'
      responses:
        '200':
          description: The updated company information record was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyInformation'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: companyInformationId
      in: path
      description: The unique identifier of the company information.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/salesInvoices:
    get:
      tags:
      - salesInvoice
      summary: Returns a list of sales invoices
      operationId: listSalesInvoices
      parameters:
      - $ref: '#/components/parameters/topParam'
      - $ref: '#/components/parameters/skipParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/filterParam'
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - salesInvoiceLines
            - pdfDocument
            - customer
            - currency
            - paymentTerm
            - shipmentMethod
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - externalDocumentNumber
            - invoiceDate
            - dueDate
            - customerPurchaseOrderReference
            - customerId
            - contactId
            - customerNumber
            - customerName
            - billToName
            - billToCustomerId
            - billToCustomerNumber
            - shipToName
            - shipToContact
            - sellingPostalAddress
            - billingPostalAddress
            - shippingPostalAddress
            - currencyId
            - currencyCode
            - orderId
            - orderNumber
            - paymentTermsId
            - shipmentMethodId
            - salesperson
            - pricesIncludeTax
            - remainingAmount
            - discountAmount
            - discountAppliedBeforeTax
            - totalAmountExcludingTax
            - totalTaxAmount
            - totalAmountIncludingTax
            - status
            - lastModifiedDateTime
            - phoneNumber
            - email
        x-ballerina-name: select
      responses:
        '200':
          description: A list of sales invoices was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesInvoiceCollection'
    post:
      tags:
      - salesInvoice
      summary: Creates a sales invoice
      operationId: createSalesInvoice
      requestBody:
        $ref: '#/components/requestBodies/salesInvoice'
      responses:
        '201':
          description: The sales invoice was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesInvoice'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/salesInvoices({salesInvoiceId}):
    get:
      tags:
      - salesInvoice
      summary: Returns a sales invoice
      operationId: getSalesInvoice
      parameters:
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - salesInvoiceLines
            - pdfDocument
            - customer
            - currency
            - paymentTerm
            - shipmentMethod
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - externalDocumentNumber
            - invoiceDate
            - dueDate
            - customerPurchaseOrderReference
            - customerId
            - contactId
            - customerNumber
            - customerName
            - billToName
            - billToCustomerId
            - billToCustomerNumber
            - shipToName
            - shipToContact
            - sellingPostalAddress
            - billingPostalAddress
            - shippingPostalAddress
            - currencyId
            - currencyCode
            - orderId
            - orderNumber
            - paymentTermsId
            - shipmentMethodId
            - salesperson
            - pricesIncludeTax
            - remainingAmount
            - discountAmount
            - discountAppliedBeforeTax
            - totalAmountExcludingTax
            - totalTaxAmount
            - totalAmountIncludingTax
            - status
            - lastModifiedDateTime
            - phoneNumber
            - email
        x-ballerina-name: select
      responses:
        '200':
          description: The requested sales invoice was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesInvoice'
    delete:
      tags:
      - salesInvoice
      summary: Deletes a sales invoice
      operationId: deleteSalesInvoice
      responses:
        '204':
          description: The sales invoice was deleted successfully.
    patch:
      tags:
      - salesInvoice
      summary: Updates a sales invoice
      operationId: updateSalesInvoice
      parameters:
      - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/salesInvoice'
      responses:
        '200':
          description: The updated sales invoice was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesInvoice'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoiceId
      in: path
      description: The unique identifier of the sales invoice.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/salesInvoices({salesInvoiceId})/Microsoft.NAV.cancelAndSend:
    post:
      tags:
      - salesInvoice
      summary: Performs the cancel and send action on a sales invoice
      operationId: cancelAndSendSalesInvoice
      responses:
        '204':
          description: The cancel and send action completed successfully.
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoiceId
      in: path
      description: The unique identifier of the sales invoice.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/salesInvoices({salesInvoiceId})/Microsoft.NAV.cancel:
    post:
      tags:
      - salesInvoice
      summary: Performs the cancel action on a sales invoice
      operationId: cancelSalesInvoice
      responses:
        '204':
          description: The cancel action completed successfully.
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoiceId
      in: path
      description: The unique identifier of the sales invoice.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/salesInvoices({salesInvoiceId})/Microsoft.NAV.makeCorrectiveCreditMemo:
    post:
      tags:
      - salesInvoice
      summary: Performs the make corrective credit memo action on a sales invoice
      operationId: makeCorrectiveCreditMemoForSalesInvoice
      responses:
        '204':
          description: The make corrective credit memo action completed successfully.
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoiceId
      in: path
      description: The unique identifier of the sales invoice.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/salesInvoices({salesInvoiceId})/Microsoft.NAV.postAndSend:
    post:
      tags:
      - salesInvoice
      summary: Performs the post and send action on a sales invoice
      operationId: postAndSendSalesInvoice
      responses:
        '204':
          description: The post and send action completed successfully.
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoiceId
      in: path
      description: The unique identifier of the sales invoice.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/salesInvoices({salesInvoiceId})/Microsoft.NAV.post:
    post:
      tags:
      - salesInvoice
      summary: Performs the post action on a sales invoice
      operationId: postSalesInvoice
      responses:
        '204':
          description: The post action completed successfully.
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoiceId
      in: path
      description: The unique identifier of the sales invoice.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/salesInvoices({salesInvoiceId})/Microsoft.NAV.send:
    post:
      tags:
      - salesInvoice
      summary: Performs the send action on a sales invoice
      operationId: sendSalesInvoice
      responses:
        '204':
          description: The send action completed successfully.
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoiceId
      in: path
      description: The unique identifier of the sales invoice.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/salesInvoices({salesInvoiceId})/salesInvoiceLines:
    get:
      tags:
      - salesInvoiceLine
      summary: Returns a list of sales invoice lines for a sales invoice
      operationId: listSalesInvoiceLinesForSalesInvoice
      parameters:
      - $ref: '#/components/parameters/topParam'
      - $ref: '#/components/parameters/skipParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/filterParam'
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - item
            - account
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - documentId
            - sequence
            - itemId
            - accountId
            - lineType
            - lineDetails
            - description
            - unitOfMeasureId
            - unitOfMeasure
            - unitPrice
            - quantity
            - discountAmount
            - discountPercent
            - discountAppliedBeforeTax
            - amountExcludingTax
            - taxCode
            - taxPercent
            - totalTaxAmount
            - amountIncludingTax
            - invoiceDiscountAllocation
            - netAmount
            - netTaxAmount
            - netAmountIncludingTax
            - shipmentDate
        x-ballerina-name: select
      responses:
        '200':
          description: A list of sales invoice lines was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesInvoiceLineCollection'
    post:
      tags:
      - salesInvoiceLine
      summary: Creates a sales invoice line for a sales invoice
      operationId: createSalesInvoiceLineForSalesInvoice
      requestBody:
        $ref: '#/components/requestBodies/salesInvoiceLine'
      responses:
        '201':
          description: The sales invoice line was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesInvoiceLine'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoiceId
      in: path
      description: The unique identifier of the sales invoice.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/salesInvoices({salesInvoiceId})/salesInvoiceLines('{salesInvoiceLineId}'):
    get:
      tags:
      - salesInvoiceLine
      summary: Returns a sales invoice line for a sales invoice
      operationId: getSalesInvoiceLineForSalesInvoice
      parameters:
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - item
            - account
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - documentId
            - sequence
            - itemId
            - accountId
            - lineType
            - lineDetails
            - description
            - unitOfMeasureId
            - unitOfMeasure
            - unitPrice
            - quantity
            - discountAmount
            - discountPercent
            - discountAppliedBeforeTax
            - amountExcludingTax
            - taxCode
            - taxPercent
            - totalTaxAmount
            - amountIncludingTax
            - invoiceDiscountAllocation
            - netAmount
            - netTaxAmount
            - netAmountIncludingTax
            - shipmentDate
        x-ballerina-name: select
      responses:
        '200':
          description: The requested sales invoice line was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesInvoiceLine'
    delete:
      tags:
      - salesInvoiceLine
      summary: Deletes a sales invoice line for a sales invoice
      operationId: deleteSalesInvoiceLineForSalesInvoice
      responses:
        '204':
          description: The sales invoice line was deleted successfully.
    patch:
      tags:
      - salesInvoiceLine
      summary: Updates a sales invoice line for a sales invoice
      operationId: updateSalesInvoiceLineForSalesInvoice
      parameters:
      - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/salesInvoiceLine'
      responses:
        '200':
          description: The updated sales invoice line was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesInvoiceLine'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoiceId
      in: path
      description: The unique identifier of the sales invoice.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoiceLineId
      in: path
      description: The unique identifier of the sales invoice line.
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /companies({companyId})/salesInvoices({salesInvoiceId})/pdfDocument:
    get:
      tags:
      - pdfDocument
      summary: Returns a list of PDF documents for a sales invoice
      operationId: listPdfDocumentsForSalesInvoice
      parameters:
      - $ref: '#/components/parameters/topParam'
      - $ref: '#/components/parameters/skipParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/filterParam'
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - content
        x-ballerina-name: select
      responses:
        '200':
          description: A list of PDF documents was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PdfDocumentCollection'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoiceId
      in: path
      description: The unique identifier of the sales invoice.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/salesInvoices({salesInvoiceId})/pdfDocument({pdfDocumentId}):
    get:
      tags:
      - pdfDocument
      summary: Returns a PDF document for a sales invoice
      operationId: getPdfDocumentForSalesInvoice
      parameters:
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - content
        x-ballerina-name: select
      responses:
        '200':
          description: The requested PDF document was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PdfDocument'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoiceId
      in: path
      description: The unique identifier of the sales invoice.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: pdfDocumentId
      in: path
      description: The unique identifier of the pdf document.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/salesInvoiceLines:
    get:
      tags:
      - salesInvoiceLine
      summary: Returns a list of sales invoice lines
      operationId: listSalesInvoiceLines
      parameters:
      - $ref: '#/components/parameters/topParam'
      - $ref: '#/components/parameters/skipParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/filterParam'
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - item
            - account
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - documentId
            - sequence
            - itemId
            - accountId
            - lineType
            - lineDetails
            - description
            - unitOfMeasureId
            - unitOfMeasure
            - unitPrice
            - quantity
            - discountAmount
            - discountPercent
            - discountAppliedBeforeTax
            - amountExcludingTax
            - taxCode
            - taxPercent
            - totalTaxAmount
            - amountIncludingTax
            - invoiceDiscountAllocation
            - netAmount
            - netTaxAmount
            - netAmountIncludingTax
            - shipmentDate
        x-ballerina-name: select
      responses:
        '200':
          description: A list of sales invoice lines was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesInvoiceLineCollection'
    post:
      tags:
      - salesInvoiceLine
      summary: Creates a sales invoice line
      operationId: createSalesInvoiceLine
      requestBody:
        $ref: '#/components/requestBodies/salesInvoiceLine'
      responses:
        '201':
          description: The sales invoice line was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesInvoiceLine'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/salesInvoiceLines('{salesInvoiceLineId}'):
    get:
      tags:
      - salesInvoiceLine
      summary: Returns a sales invoice line
      operationId: getSalesInvoiceLine
      parameters:
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - item
            - account
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - documentId
            - sequence
            - itemId
            - accountId
            - lineType
            - lineDetails
            - description
            - unitOfMeasureId
            - unitOfMeasure
            - unitPrice
            - quantity
            - discountAmount
            - discountPercent
            - discountAppliedBeforeTax
            - amountExcludingTax
            - taxCode
            - taxPercent
            - totalTaxAmount
            - amountIncludingTax
            - invoiceDiscountAllocation
            - netAmount
            - netTaxAmount
            - netAmountIncludingTax
            - shipmentDate
        x-ballerina-name: select
      responses:
        '200':
          description: The requested sales invoice line was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesInvoiceLine'
    delete:
      tags:
      - salesInvoiceLine
      summary: Deletes a sales invoice line
      operationId: deleteSalesInvoiceLine
      responses:
        '204':
          description: The sales invoice line was deleted successfully.
    patch:
      tags:
      - salesInvoiceLine
      summary: Updates a sales invoice line
      operationId: updateSalesInvoiceLine
      parameters:
      - $ref: '#/components/parameters/IfMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/salesInvoiceLine'
      responses:
        '200':
          description: The updated sales invoice line was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesInvoiceLine'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoiceLineId
      in: path
      description: The unique identifier of the sales invoice line.
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /companies({companyId})/pdfDocument:
    get:
      tags:
      - pdfDocument
      summary: Returns a list of PDF documents
      operationId: listPdfDocuments
      parameters:
      - $ref: '#/components/parameters/topParam'
      - $ref: '#/components/parameters/skipParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/filterParam'
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - content
        x-ballerina-name: select
      responses:
        '200':
          description: A list of PDF documents was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PdfDocumentCollection'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/pdfDocument({pdfDocumentId}):
    get:
      tags:
      - pdfDocument
      summary: Returns a PDF document
      operationId: getPdfDocument
      parameters:
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - content
        x-ballerina-name: select
      responses:
        '200':
          description: The requested PDF document was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PdfDocument'
    parameters:
    - name: companyId
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: pdfDocumentId
      in: path
      description: The unique identifier of the pdf document.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({companyId})/customerPaymentJournals:
    get:
      tags:
      - customerPaymentJournal
      summary: Returns a list of customer payment journals
      operationId: listCustomerPaymentJournals
      parameters:
      - $ref: '#/components/parameters/topParam'
      - $ref: '#/components/parameters/skipParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/filterParam'
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - customerPayments
            - account
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - code
            - displayName
            - lastModifiedDateTime
            - balancingAccountId
            - balancingAccountNumber
        x-ballerina-name: select
      responses:
        '200':
[...]
