openapi: 3.0.0
info:
  title: (v1.0) Dynamics 365 Business Central
  description: (v1.0) Business Central Standard APIs
  version: 1.0.0
servers:
- url: "https://api.businesscentral.dynamics.com/v2.0/{environment}/api/v1.0"
  description: Dynamics 365 Business Central API v1.0
  variables:
    environment:
      description: The Business Central environment name
      default: production
      enum:
      - production
      - sandbox
security:
- oAuth:
  - Financials.ReadWrite.All
tags:
- name: company
  description: (v1.0) Represents an object of type company in Dynamics 365 Business
    Central
- name: item
  description: (v1.0) Represents an object of type item in Dynamics 365 Business Central
- name: picture
  description: (v1.0) Represents an object of type picture in Dynamics 365 Business
    Central
- name: defaultDimensions
  description: (v1.0) Represents an object of type defaultDimensions in Dynamics 365
    Business Central
- name: customer
  description: (v1.0) Represents an object of type customer in Dynamics 365 Business
    Central
- name: customerFinancialDetail
  description: (v1.0) Represents an object of type customerFinancialDetail in Dynamics
    365 Business Central
- name: vendor
  description: (v1.0) Represents an object of type vendor in Dynamics 365 Business
    Central
- name: companyInformation
  description: (v1.0) Represents an object of type companyInformation in Dynamics
    365 Business Central
- name: salesInvoice
  description: (v1.0) Represents an object of type salesInvoice in Dynamics 365 Business
    Central
- name: salesInvoiceLine
  description: (v1.0) Represents an object of type salesInvoiceLine in Dynamics 365
    Business Central
- name: pdfDocument
  description: (v1.0) Represents an object of type pdfDocument in Dynamics 365 Business
    Central
- name: customerPaymentJournal
  description: (v1.0) Represents an object of type customerPaymentJournal in Dynamics
    365 Business Central
- name: customerPayment
  description: (v1.0) Represents an object of type customerPayment in Dynamics 365
    Business Central
- name: account
  description: (v1.0) Represents an object of type account in Dynamics 365 Business
    Central
- name: taxGroup
  description: (v1.0) Represents an object of type taxGroup in Dynamics 365 Business
    Central
- name: journal
  description: (v1.0) Represents an object of type journal in Dynamics 365 Business
    Central
- name: journalLine
  description: (v1.0) Represents an object of type journalLine in Dynamics 365 Business
    Central
- name: attachments
  description: (v1.0) Represents an object of type attachments in Dynamics 365 Business
    Central
- name: employee
  description: (v1.0) Represents an object of type employee in Dynamics 365 Business
    Central
- name: timeRegistrationEntry
  description: (v1.0) Represents an object of type timeRegistrationEntry in Dynamics
    365 Business Central
- name: generalLedgerEntry
  description: (v1.0) Represents an object of type generalLedgerEntry in Dynamics
    365 Business Central
- name: currency
  description: (v1.0) Represents an object of type currency in Dynamics 365 Business
    Central
- name: paymentMethod
  description: (v1.0) Represents an object of type paymentMethod in Dynamics 365 Business
    Central
- name: dimension
  description: (v1.0) Represents an object of type dimension in Dynamics 365 Business
    Central
- name: dimensionValue
  description: (v1.0) Represents an object of type dimensionValue in Dynamics 365
    Business Central
- name: dimensionLine
  description: (v1.0) Represents an object of type dimensionLine in Dynamics 365 Business
    Central
- name: paymentTerm
  description: (v1.0) Represents an object of type paymentTerm in Dynamics 365 Business
    Central
- name: shipmentMethod
  description: (v1.0) Represents an object of type shipmentMethod in Dynamics 365
    Business Central
- name: itemCategory
  description: (v1.0) Represents an object of type itemCategory in Dynamics 365 Business
    Central
- name: cashFlowStatement
  description: (v1.0) Represents an object of type cashFlowStatement in Dynamics 365
    Business Central
- name: countryRegion
  description: (v1.0) Represents an object of type countryRegion in Dynamics 365 Business
    Central
- name: salesOrder
  description: (v1.0) Represents an object of type salesOrder in Dynamics 365 Business
    Central
- name: salesOrderLine
  description: (v1.0) Represents an object of type salesOrderLine in Dynamics 365
    Business Central
- name: retainedEarningsStatement
  description: (v1.0) Represents an object of type retainedEarningsStatement in Dynamics
    365 Business Central
- name: unitOfMeasure
  description: (v1.0) Represents an object of type unitOfMeasure in Dynamics 365 Business
    Central
- name: agedAccountsReceivable
  description: (v1.0) Represents an object of type agedAccountsReceivable in Dynamics
    365 Business Central
- name: agedAccountsPayable
  description: (v1.0) Represents an object of type agedAccountsPayable in Dynamics
    365 Business Central
- name: balanceSheet
  description: (v1.0) Represents an object of type balanceSheet in Dynamics 365 Business
    Central
- name: trialBalance
  description: (v1.0) Represents an object of type trialBalance in Dynamics 365 Business
    Central
- name: incomeStatement
  description: (v1.0) Represents an object of type incomeStatement in Dynamics 365
    Business Central
- name: taxArea
  description: (v1.0) Represents an object of type taxArea in Dynamics 365 Business
    Central
- name: salesQuote
  description: (v1.0) Represents an object of type salesQuote in Dynamics 365 Business
    Central
- name: salesQuoteLine
  description: (v1.0) Represents an object of type salesQuoteLine in Dynamics 365
    Business Central
- name: salesCreditMemo
  description: (v1.0) Represents an object of type salesCreditMemo in Dynamics 365
    Business Central
- name: salesCreditMemoLine
  description: (v1.0) Represents an object of type salesCreditMemoLine in Dynamics
    365 Business Central
- name: generalLedgerEntryAttachments
  description: (v1.0) Represents an object of type generalLedgerEntryAttachments in
    Dynamics 365 Business Central
- name: purchaseInvoice
  description: (v1.0) Represents an object of type purchaseInvoice in Dynamics 365
    Business Central
- name: purchaseInvoiceLine
  description: (v1.0) Represents an object of type purchaseInvoiceLine in Dynamics
    365 Business Central
- name: project
  description: (v1.0) Represents an object of type project in Dynamics 365 Business
    Central
- name: bankAccount
  description: (v1.0) Represents an object of type bankAccount in Dynamics 365 Business
    Central
- name: customerSale
  description: (v1.0) Represents an object of type customerSale in Dynamics 365 Business
    Central
- name: vendorPurchase
  description: (v1.0) Represents an object of type vendorPurchase in Dynamics 365
    Business Central
paths:
  /companies:
    get:
      tags:
      - company
      summary: Returns a list of companies
      operationId: listCompanies
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - systemVersion
            - name
            - displayName
            - businessProfileId
      responses:
        "200":
          description: (v1.0) Succesfully returned a list of companies
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse200"
  /companies({company_id}):
    get:
      tags:
      - company
      summary: Retrieve the properties and relationships of an object of type company
        for Dynamics 365 Business Central.
      operationId: getCompany
      parameters:
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - systemVersion
            - name
            - displayName
            - businessProfileId
      responses:
        "200":
          description: (v1.0) Succesfully returned the requested company
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/company"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/items:
    get:
      tags:
      - item
      summary: Returns a list of items
      operationId: listItems
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $expand
        in: query
        description: (v1.0) Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - picture
            - defaultDimensions
            - itemCategory
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
            - type
            - itemCategoryId
            - itemCategoryCode
            - blocked
            - baseUnitOfMeasureId
            - baseUnitOfMeasure
            - gtin
            - inventory
            - unitPrice
            - priceIncludesTax
            - unitCost
            - taxGroupId
            - taxGroupCode
            - lastModifiedDateTime
      responses:
        "200":
          description: (v1.0) Succesfully returned a list of items
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2001"
    post:
      tags:
      - item
      summary: Creates an object of type item in Dynamics 365 Business Central
      operationId: postItem
      parameters:
      - $ref: "#/components/parameters/ContentTypeParam"
      requestBody:
        $ref: "#/components/requestBodies/item"
      responses:
        "201":
          description: (v1.0) A new item has been succesfully created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/item"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/items({item_id}):
    get:
      tags:
      - item
      summary: Retrieve the properties and relationships of an object of type item
        for Dynamics 365 Business Central.
      operationId: getItem
      parameters:
      - name: $expand
        in: query
        description: (v1.0) Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - picture
            - defaultDimensions
            - itemCategory
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
            - type
            - itemCategoryId
            - itemCategoryCode
            - blocked
            - baseUnitOfMeasureId
            - baseUnitOfMeasure
            - gtin
            - inventory
            - unitPrice
            - priceIncludesTax
            - unitCost
            - taxGroupId
            - taxGroupCode
            - lastModifiedDateTime
      responses:
        "200":
          description: (v1.0) Succesfully returned the requested item
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/item"
    delete:
      tags:
      - item
      summary: Deletes an object of type item in Dynamics 365 Business Central
      operationId: deleteItem
      responses:
        "204":
          description: (v1.0) Succesfully deleted the specified item
    patch:
      tags:
      - item
      summary: Updates an object of type item in Dynamics 365 Business Central
      operationId: patchItem
      parameters:
      - $ref: "#/components/parameters/ContentTypeParam"
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/item"
      responses:
        "200":
          description: (v1.0) Succesfully updated the specifieditem
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/item"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: item_id
      in: path
      description: (v1.0) id for item
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/items({item_id})/picture:
    get:
      tags:
      - picture
      summary: Returns a list of picture
      operationId: listPictureForItem
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
      responses:
        "200":
          description: (v1.0) Succesfully returned a list of picture
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2002"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: item_id
      in: path
      description: (v1.0) id for item
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/items({item_id})/picture({picture_id}):
    get:
      tags:
      - picture
      summary: Retrieve the properties and relationships of an object of type picture
        for Dynamics 365 Business Central.
      operationId: getPictureForItem
      parameters:
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
      responses:
        "200":
          description: (v1.0) Succesfully returned the requested picture
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/picture"
    delete:
      tags:
      - picture
      summary: Deletes an object of type picture in Dynamics 365 Business Central
      operationId: deletePictureForItem
      responses:
        "204":
          description: (v1.0) Succesfully deleted the specified picture
    patch:
      tags:
      - picture
      summary: Updates an object of type picture in Dynamics 365 Business Central
      operationId: patchPictureForItem
      parameters:
      - $ref: "#/components/parameters/ContentTypeParam"
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/picture"
      responses:
        "200":
          description: (v1.0) Succesfully updated the specifiedpicture
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/picture"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: item_id
      in: path
      description: (v1.0) id for item
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: picture_id
      in: path
      description: (v1.0) id for picture
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/items({item_id})/defaultDimensions:
    get:
      tags:
      - defaultDimensions
      summary: Returns a list of defaultDimensions
      operationId: listDefaultDimensionsForItem
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $expand
        in: query
        description: (v1.0) Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
      responses:
        "200":
          description: (v1.0) Succesfully returned a list of defaultDimensions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2003"
    post:
      tags:
      - defaultDimensions
      summary: Creates an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: postDefaultDimensionsForItem
      parameters:
      - $ref: "#/components/parameters/ContentTypeParam"
      requestBody:
        $ref: "#/components/requestBodies/defaultDimensions"
      responses:
        "201":
          description: (v1.0) A new defaultDimensions has been succesfully created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/defaultDimensions"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: item_id
      in: path
      description: (v1.0) id for item
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/items({item_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId}):
    get:
      tags:
      - defaultDimensions
      summary: Retrieve the properties and relationships of an object of type defaultDimensions
        for Dynamics 365 Business Central.
      operationId: getDefaultDimensionsForItem
      parameters:
      - name: $expand
        in: query
        description: (v1.0) Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
      responses:
        "200":
          description: (v1.0) Succesfully returned the requested defaultDimensions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/defaultDimensions"
    delete:
      tags:
      - defaultDimensions
      summary: Deletes an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: deleteDefaultDimensionsForItem
      responses:
        "204":
          description: (v1.0) Succesfully deleted the specified defaultDimensions
    patch:
      tags:
      - defaultDimensions
      summary: Updates an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: patchDefaultDimensionsForItem
      parameters:
      - $ref: "#/components/parameters/ContentTypeParam"
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/defaultDimensions"
      responses:
        "200":
          description: (v1.0) Succesfully updated the specifieddefaultDimensions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/defaultDimensions"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: item_id
      in: path
      description: (v1.0) id for item
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: defaultDimensions_parentId
      in: path
      description: (v1.0) parentId for defaultDimensions
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: defaultDimensions_dimensionId
      in: path
      description: (v1.0) dimensionId for defaultDimensions
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/picture:
    get:
      tags:
      - picture
      summary: Returns a list of picture
      operationId: listPicture
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
      responses:
        "200":
          description: (v1.0) Succesfully returned a list of picture
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2002"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/picture({picture_id}):
    get:
      tags:
      - picture
      summary: Retrieve the properties and relationships of an object of type picture
        for Dynamics 365 Business Central.
      operationId: getPicture
      parameters:
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
      responses:
        "200":
          description: (v1.0) Succesfully returned the requested picture
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/picture"
    delete:
      tags:
      - picture
      summary: Deletes an object of type picture in Dynamics 365 Business Central
      operationId: deletePicture
      responses:
        "204":
          description: (v1.0) Succesfully deleted the specified picture
    patch:
      tags:
      - picture
      summary: Updates an object of type picture in Dynamics 365 Business Central
      operationId: patchPicture
      parameters:
      - $ref: "#/components/parameters/ContentTypeParam"
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/picture"
      responses:
        "200":
          description: (v1.0) Succesfully updated the specifiedpicture
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/picture"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: picture_id
      in: path
      description: (v1.0) id for picture
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/defaultDimensions:
    get:
      tags:
      - defaultDimensions
      summary: Returns a list of defaultDimensions
      operationId: listDefaultDimensions
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $expand
        in: query
        description: (v1.0) Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
      responses:
        "200":
          description: (v1.0) Succesfully returned a list of defaultDimensions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2003"
    post:
      tags:
      - defaultDimensions
      summary: Creates an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: postDefaultDimensions
      parameters:
      - $ref: "#/components/parameters/ContentTypeParam"
      requestBody:
        $ref: "#/components/requestBodies/defaultDimensions"
      responses:
        "201":
          description: (v1.0) A new defaultDimensions has been succesfully created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/defaultDimensions"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId}):
    get:
      tags:
      - defaultDimensions
      summary: Retrieve the properties and relationships of an object of type defaultDimensions
        for Dynamics 365 Business Central.
      operationId: getDefaultDimensions
      parameters:
      - name: $expand
        in: query
        description: (v1.0) Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
      responses:
        "200":
          description: (v1.0) Succesfully returned the requested defaultDimensions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/defaultDimensions"
    delete:
      tags:
      - defaultDimensions
      summary: Deletes an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: deleteDefaultDimensions
      responses:
        "204":
          description: (v1.0) Succesfully deleted the specified defaultDimensions
    patch:
      tags:
      - defaultDimensions
      summary: Updates an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: patchDefaultDimensions
      parameters:
      - $ref: "#/components/parameters/ContentTypeParam"
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/defaultDimensions"
      responses:
        "200":
          description: (v1.0) Succesfully updated the specifieddefaultDimensions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/defaultDimensions"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: defaultDimensions_parentId
      in: path
      description: (v1.0) parentId for defaultDimensions
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: defaultDimensions_dimensionId
      in: path
      description: (v1.0) dimensionId for defaultDimensions
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/customers:
    get:
      tags:
      - customer
      summary: Returns a list of customers
      operationId: listCustomers
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $expand
        in: query
        description: (v1.0) Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - customerFinancialDetails
            - picture
            - defaultDimensions
            - currency
            - paymentTerm
            - shipmentMethod
            - paymentMethod
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
            - type
            - address
            - phoneNumber
            - email
            - website
            - taxLiable
            - taxAreaId
            - taxAreaDisplayName
            - taxRegistrationNumber
            - currencyId
            - currencyCode
            - paymentTermsId
            - shipmentMethodId
            - paymentMethodId
            - blocked
            - lastModifiedDateTime
      responses:
        "200":
          description: (v1.0) Succesfully returned a list of customers
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2004"
    post:
      tags:
      - customer
      summary: Creates an object of type customer in Dynamics 365 Business Central
      operationId: postCustomer
      parameters:
      - $ref: "#/components/parameters/ContentTypeParam"
      requestBody:
        $ref: "#/components/requestBodies/customer"
      responses:
        "201":
          description: (v1.0) A new customer has been succesfully created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customer"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/customers({customer_id}):
    get:
      tags:
      - customer
      summary: Retrieve the properties and relationships of an object of type customer
        for Dynamics 365 Business Central.
      operationId: getCustomer
      parameters:
      - name: $expand
        in: query
        description: (v1.0) Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - customerFinancialDetails
            - picture
            - defaultDimensions
            - currency
            - paymentTerm
            - shipmentMethod
            - paymentMethod
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
            - type
            - address
            - phoneNumber
            - email
            - website
            - taxLiable
            - taxAreaId
            - taxAreaDisplayName
            - taxRegistrationNumber
            - currencyId
            - currencyCode
            - paymentTermsId
            - shipmentMethodId
            - paymentMethodId
            - blocked
            - lastModifiedDateTime
      responses:
        "200":
          description: (v1.0) Succesfully returned the requested customer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customer"
    delete:
      tags:
      - customer
      summary: Deletes an object of type customer in Dynamics 365 Business Central
      operationId: deleteCustomer
      responses:
        "204":
          description: (v1.0) Succesfully deleted the specified customer
    patch:
      tags:
      - customer
      summary: Updates an object of type customer in Dynamics 365 Business Central
      operationId: patchCustomer
      parameters:
      - $ref: "#/components/parameters/ContentTypeParam"
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/customer"
      responses:
        "200":
          description: (v1.0) Succesfully updated the specifiedcustomer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customer"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: customer_id
      in: path
      description: (v1.0) id for customer
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/customers({customer_id})/customerFinancialDetails:
    get:
      tags:
      - customerFinancialDetail
      summary: Returns a list of customerFinancialDetails
      operationId: listCustomerFinancialDetailsForCustomer
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - balance
            - totalSalesExcludingTax
            - overdueAmount
      responses:
        "200":
          description: (v1.0) Succesfully returned a list of customerFinancialDetails
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2005"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: customer_id
      in: path
      description: (v1.0) id for customer
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/customers({customer_id})/customerFinancialDetails({customerFinancialDetail_id}):
    get:
      tags:
      - customerFinancialDetail
      summary: Retrieve the properties and relationships of an object of type customerFinancialDetail
        for Dynamics 365 Business Central.
      operationId: getCustomerFinancialDetailForCustomer
      parameters:
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - balance
            - totalSalesExcludingTax
            - overdueAmount
      responses:
        "200":
          description: (v1.0) Succesfully returned the requested customerFinancialDetail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customerFinancialDetail"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: customer_id
      in: path
      description: (v1.0) id for customer
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: customerFinancialDetail_id
      in: path
      description: (v1.0) id for customerFinancialDetail
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/customers({customer_id})/picture:
    get:
      tags:
      - picture
      summary: Returns a list of picture
      operationId: listPictureForCustomer
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
      responses:
        "200":
          description: (v1.0) Succesfully returned a list of picture
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2002"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: customer_id
      in: path
      description: (v1.0) id for customer
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/customers({customer_id})/picture({picture_id}):
    get:
      tags:
      - picture
      summary: Retrieve the properties and relationships of an object of type picture
        for Dynamics 365 Business Central.
      operationId: getPictureForCustomer
      parameters:
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
      responses:
        "200":
          description: (v1.0) Succesfully returned the requested picture
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/picture"
    delete:
      tags:
      - picture
      summary: Deletes an object of type picture in Dynamics 365 Business Central
      operationId: deletePictureForCustomer
      responses:
        "204":
          description: (v1.0) Succesfully deleted the specified picture
    patch:
      tags:
      - picture
      summary: Updates an object of type picture in Dynamics 365 Business Central
      operationId: patchPictureForCustomer
      parameters:
      - $ref: "#/components/parameters/ContentTypeParam"
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/picture"
      responses:
        "200":
          description: (v1.0) Succesfully updated the specifiedpicture
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/picture"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: customer_id
      in: path
      description: (v1.0) id for customer
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: picture_id
      in: path
      description: (v1.0) id for picture
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/customers({customer_id})/defaultDimensions:
    get:
      tags:
      - defaultDimensions
      summary: Returns a list of defaultDimensions
      operationId: listDefaultDimensionsForCustomer
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $expand
        in: query
        description: (v1.0) Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
      responses:
        "200":
          description: (v1.0) Succesfully returned a list of defaultDimensions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2003"
    post:
      tags:
      - defaultDimensions
      summary: Creates an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: postDefaultDimensionsForCustomer
      parameters:
      - $ref: "#/components/parameters/ContentTypeParam"
      requestBody:
        $ref: "#/components/requestBodies/defaultDimensions"
      responses:
        "201":
          description: (v1.0) A new defaultDimensions has been succesfully created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/defaultDimensions"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: customer_id
      in: path
      description: (v1.0) id for customer
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  ? /companies({company_id})/customers({customer_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId})
  : get:
      tags:
      - defaultDimensions
      summary: Retrieve the properties and relationships of an object of type defaultDimensions
        for Dynamics 365 Business Central.
      operationId: getDefaultDimensionsForCustomer
      parameters:
      - name: $expand
        in: query
        description: (v1.0) Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
      responses:
        "200":
          description: (v1.0) Succesfully returned the requested defaultDimensions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/defaultDimensions"
    delete:
      tags:
      - defaultDimensions
      summary: Deletes an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: deleteDefaultDimensionsForCustomer
      responses:
        "204":
          description: (v1.0) Succesfully deleted the specified defaultDimensions
    patch:
      tags:
      - defaultDimensions
      summary: Updates an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: patchDefaultDimensionsForCustomer
      parameters:
      - $ref: "#/components/parameters/ContentTypeParam"
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/defaultDimensions"
      responses:
        "200":
          description: (v1.0) Succesfully updated the specifieddefaultDimensions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/defaultDimensions"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: customer_id
      in: path
      description: (v1.0) id for customer
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: defaultDimensions_parentId
      in: path
      description: (v1.0) parentId for defaultDimensions
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: defaultDimensions_dimensionId
      in: path
      description: (v1.0) dimensionId for defaultDimensions
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/customerFinancialDetails:
    get:
      tags:
      - customerFinancialDetail
      summary: Returns a list of customerFinancialDetails
      operationId: listCustomerFinancialDetails
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - balance
            - totalSalesExcludingTax
            - overdueAmount
      responses:
        "200":
          description: (v1.0) Succesfully returned a list of customerFinancialDetails
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2005"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/customerFinancialDetails({customerFinancialDetail_id}):
    get:
      tags:
      - customerFinancialDetail
      summary: Retrieve the properties and relationships of an object of type customerFinancialDetail
        for Dynamics 365 Business Central.
      operationId: getCustomerFinancialDetail
      parameters:
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - balance
            - totalSalesExcludingTax
            - overdueAmount
      responses:
        "200":
          description: (v1.0) Succesfully returned the requested customerFinancialDetail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customerFinancialDetail"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: customerFinancialDetail_id
      in: path
      description: (v1.0) id for customerFinancialDetail
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/vendors:
    get:
      tags:
      - vendor
      summary: Returns a list of vendors
      operationId: listVendors
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $expand
        in: query
        description: (v1.0) Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - picture
            - defaultDimensions
            - currency
            - paymentTerm
            - paymentMethod
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
            - address
            - phoneNumber
            - email
            - website
            - taxRegistrationNumber
            - currencyId
            - currencyCode
            - irs1099Code
            - paymentTermsId
            - paymentMethodId
            - taxLiable
            - blocked
            - balance
            - lastModifiedDateTime
      responses:
        "200":
          description: (v1.0) Succesfully returned a list of vendors
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2006"
    post:
      tags:
      - vendor
      summary: Creates an object of type vendor in Dynamics 365 Business Central
      operationId: postVendor
      parameters:
      - $ref: "#/components/parameters/ContentTypeParam"
      requestBody:
        $ref: "#/components/requestBodies/vendor"
      responses:
        "201":
          description: (v1.0) A new vendor has been succesfully created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/vendor"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/vendors({vendor_id}):
    get:
      tags:
      - vendor
      summary: Retrieve the properties and relationships of an object of type vendor
        for Dynamics 365 Business Central.
      operationId: getVendor
      parameters:
      - name: $expand
        in: query
        description: (v1.0) Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - picture
            - defaultDimensions
            - currency
            - paymentTerm
            - paymentMethod
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
            - address
            - phoneNumber
            - email
            - website
            - taxRegistrationNumber
            - currencyId
            - currencyCode
            - irs1099Code
            - paymentTermsId
            - paymentMethodId
            - taxLiable
            - blocked
            - balance
            - lastModifiedDateTime
      responses:
        "200":
          description: (v1.0) Succesfully returned the requested vendor
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/vendor"
    delete:
      tags:
      - vendor
      summary: Deletes an object of type vendor in Dynamics 365 Business Central
      operationId: deleteVendor
      responses:
        "204":
          description: (v1.0) Succesfully deleted the specified vendor
    patch:
      tags:
      - vendor
      summary: Updates an object of type vendor in Dynamics 365 Business Central
      operationId: patchVendor
      parameters:
      - $ref: "#/components/parameters/ContentTypeParam"
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/vendor"
      responses:
        "200":
          description: (v1.0) Succesfully updated the specifiedvendor
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/vendor"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: vendor_id
      in: path
      description: (v1.0) id for vendor
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/vendors({vendor_id})/picture:
    get:
      tags:
      - picture
      summary: Returns a list of picture
      operationId: listPictureForVendor
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
      responses:
        "200":
          description: (v1.0) Succesfully returned a list of picture
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2002"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: vendor_id
      in: path
      description: (v1.0) id for vendor
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/vendors({vendor_id})/picture({picture_id}):
    get:
      tags:
      - picture
      summary: Retrieve the properties and relationships of an object of type picture
        for Dynamics 365 Business Central.
      operationId: getPictureForVendor
      parameters:
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
      responses:
        "200":
          description: (v1.0) Succesfully returned the requested picture
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/picture"
    delete:
      tags:
      - picture
      summary: Deletes an object of type picture in Dynamics 365 Business Central
      operationId: deletePictureForVendor
      responses:
        "204":
          description: (v1.0) Succesfully deleted the specified picture
    patch:
      tags:
      - picture
      summary: Updates an object of type picture in Dynamics 365 Business Central
      operationId: patchPictureForVendor
      parameters:
      - $ref: "#/components/parameters/ContentTypeParam"
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/picture"
      responses:
        "200":
          description: (v1.0) Succesfully updated the specifiedpicture
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/picture"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: vendor_id
      in: path
      description: (v1.0) id for vendor
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: picture_id
      in: path
      description: (v1.0) id for picture
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/vendors({vendor_id})/defaultDimensions:
    get:
      tags:
      - defaultDimensions
      summary: Returns a list of defaultDimensions
      operationId: listDefaultDimensionsForVendor
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $expand
        in: query
        description: (v1.0) Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
      responses:
        "200":
          description: (v1.0) Succesfully returned a list of defaultDimensions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2003"
    post:
      tags:
      - defaultDimensions
      summary: Creates an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: postDefaultDimensionsForVendor
      parameters:
      - $ref: "#/components/parameters/ContentTypeParam"
      requestBody:
        $ref: "#/components/requestBodies/defaultDimensions"
      responses:
        "201":
          description: (v1.0) A new defaultDimensions has been succesfully created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/defaultDimensions"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: vendor_id
      in: path
      description: (v1.0) id for vendor
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/vendors({vendor_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId}):
    get:
      tags:
      - defaultDimensions
      summary: Retrieve the properties and relationships of an object of type defaultDimensions
        for Dynamics 365 Business Central.
      operationId: getDefaultDimensionsForVendor
      parameters:
      - name: $expand
        in: query
        description: (v1.0) Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
      responses:
        "200":
          description: (v1.0) Succesfully returned the requested defaultDimensions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/defaultDimensions"
    delete:
      tags:
      - defaultDimensions
      summary: Deletes an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: deleteDefaultDimensionsForVendor
      responses:
        "204":
          description: (v1.0) Succesfully deleted the specified defaultDimensions
    patch:
      tags:
      - defaultDimensions
      summary: Updates an object of type defaultDimensions in Dynamics 365 Business
        Central
      operationId: patchDefaultDimensionsForVendor
      parameters:
      - $ref: "#/components/parameters/ContentTypeParam"
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/defaultDimensions"
      responses:
        "200":
          description: (v1.0) Succesfully updated the specifieddefaultDimensions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/defaultDimensions"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: vendor_id
      in: path
      description: (v1.0) id for vendor
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: defaultDimensions_parentId
      in: path
      description: (v1.0) parentId for defaultDimensions
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: defaultDimensions_dimensionId
      in: path
      description: (v1.0) dimensionId for defaultDimensions
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/companyInformation:
    get:
      tags:
      - companyInformation
      summary: Returns a list of companyInformation
      operationId: listCompanyInformation
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - displayName
            - address
            - phoneNumber
            - faxNumber
            - email
            - website
            - taxRegistrationNumber
            - currencyCode
            - currentFiscalYearStartDate
            - industry
            - picture
            - lastModifiedDateTime
      responses:
        "200":
          description: (v1.0) Succesfully returned a list of companyInformation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2007"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/companyInformation({companyInformation_id}):
    get:
      tags:
      - companyInformation
      summary: Retrieve the properties and relationships of an object of type companyInformation
        for Dynamics 365 Business Central.
      operationId: getCompanyInformation
      parameters:
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - displayName
            - address
            - phoneNumber
            - faxNumber
            - email
            - website
            - taxRegistrationNumber
            - currencyCode
            - currentFiscalYearStartDate
            - industry
            - picture
            - lastModifiedDateTime
      responses:
        "200":
          description: (v1.0) Succesfully returned the requested companyInformation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/companyInformation"
    patch:
      tags:
      - companyInformation
      summary: Updates an object of type companyInformation in Dynamics 365 Business
        Central
      operationId: patchCompanyInformation
      parameters:
      - $ref: "#/components/parameters/ContentTypeParam"
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/companyInformation"
      responses:
        "200":
          description: (v1.0) Succesfully updated the specifiedcompanyInformation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/companyInformation"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: companyInformation_id
      in: path
      description: (v1.0) id for companyInformation
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/salesInvoices:
    get:
      tags:
      - salesInvoice
      summary: Returns a list of salesInvoices
      operationId: listSalesInvoices
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $expand
        in: query
        description: (v1.0) Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - salesInvoiceLines
            - pdfDocument
            - customer
            - currency
            - paymentTerm
            - shipmentMethod
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - externalDocumentNumber
            - invoiceDate
            - dueDate
            - customerPurchaseOrderReference
            - customerId
            - contactId
            - customerNumber
            - customerName
            - billToName
            - billToCustomerId
            - billToCustomerNumber
            - shipToName
            - shipToContact
            - sellingPostalAddress
            - billingPostalAddress
            - shippingPostalAddress
            - currencyId
            - currencyCode
            - orderId
            - orderNumber
            - paymentTermsId
            - shipmentMethodId
            - salesperson
            - pricesIncludeTax
            - remainingAmount
            - discountAmount
            - discountAppliedBeforeTax
            - totalAmountExcludingTax
            - totalTaxAmount
            - totalAmountIncludingTax
            - status
            - lastModifiedDateTime
            - phoneNumber
            - email
      responses:
        "200":
          description: (v1.0) Succesfully returned a list of salesInvoices
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2008"
    post:
      tags:
      - salesInvoice
      summary: Creates an object of type salesInvoice in Dynamics 365 Business Central
      operationId: postSalesInvoice
      parameters:
      - $ref: "#/components/parameters/ContentTypeParam"
      requestBody:
        $ref: "#/components/requestBodies/salesInvoice"
      responses:
        "201":
          description: (v1.0) A new salesInvoice has been succesfully created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/salesInvoice"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/salesInvoices({salesInvoice_id}):
    get:
      tags:
      - salesInvoice
      summary: Retrieve the properties and relationships of an object of type salesInvoice
        for Dynamics 365 Business Central.
      operationId: getSalesInvoice
      parameters:
      - name: $expand
        in: query
        description: (v1.0) Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - salesInvoiceLines
            - pdfDocument
            - customer
            - currency
            - paymentTerm
            - shipmentMethod
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - externalDocumentNumber
            - invoiceDate
            - dueDate
            - customerPurchaseOrderReference
            - customerId
            - contactId
            - customerNumber
            - customerName
            - billToName
            - billToCustomerId
            - billToCustomerNumber
            - shipToName
            - shipToContact
            - sellingPostalAddress
            - billingPostalAddress
            - shippingPostalAddress
            - currencyId
            - currencyCode
            - orderId
            - orderNumber
            - paymentTermsId
            - shipmentMethodId
            - salesperson
            - pricesIncludeTax
            - remainingAmount
            - discountAmount
            - discountAppliedBeforeTax
            - totalAmountExcludingTax
            - totalTaxAmount
            - totalAmountIncludingTax
            - status
            - lastModifiedDateTime
            - phoneNumber
            - email
      responses:
        "200":
          description: (v1.0) Succesfully returned the requested salesInvoice
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/salesInvoice"
    delete:
      tags:
      - salesInvoice
      summary: Deletes an object of type salesInvoice in Dynamics 365 Business Central
      operationId: deleteSalesInvoice
      responses:
        "204":
          description: (v1.0) Succesfully deleted the specified salesInvoice
    patch:
      tags:
      - salesInvoice
      summary: Updates an object of type salesInvoice in Dynamics 365 Business Central
      operationId: patchSalesInvoice
      parameters:
      - $ref: "#/components/parameters/ContentTypeParam"
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/salesInvoice"
      responses:
        "200":
          description: (v1.0) Succesfully updated the specifiedsalesInvoice
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/salesInvoice"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoice_id
      in: path
      description: (v1.0) id for salesInvoice
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.cancelAndSend:
    post:
      tags:
      - salesInvoice
      summary: Performs the cancelAndSend action for salesInvoices entity
      operationId: cancelAndSendActionSalesInvoices
      responses:
        "204":
          description: (v1.0) Succesfully performed a cancelAndSend action on the
            Dynamic 365 Business Central salesInvoices entity
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoice_id
      in: path
      description: (v1.0) id for salesInvoice
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.cancel:
    post:
      tags:
      - salesInvoice
      summary: Performs the cancel action for salesInvoices entity
      operationId: cancelActionSalesInvoices
      responses:
        "204":
          description: (v1.0) Succesfully performed a cancel action on the Dynamic
            365 Business Central salesInvoices entity
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoice_id
      in: path
      description: (v1.0) id for salesInvoice
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.makeCorrectiveCreditMemo:
    post:
      tags:
      - salesInvoice
      summary: Performs the makeCorrectiveCreditMemo action for salesInvoices entity
      operationId: makeCorrectiveCreditMemoActionSalesInvoices
      responses:
        "204":
          description: (v1.0) Succesfully performed a makeCorrectiveCreditMemo action
            on the Dynamic 365 Business Central salesInvoices entity
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoice_id
      in: path
      description: (v1.0) id for salesInvoice
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.postAndSend:
    post:
      tags:
      - salesInvoice
      summary: Performs the postAndSend action for salesInvoices entity
      operationId: postAndSendActionSalesInvoices
      responses:
        "204":
          description: (v1.0) Succesfully performed a postAndSend action on the Dynamic
            365 Business Central salesInvoices entity
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoice_id
      in: path
      description: (v1.0) id for salesInvoice
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.post:
    post:
      tags:
      - salesInvoice
      summary: Performs the post action for salesInvoices entity
      operationId: postActionSalesInvoices
      responses:
        "204":
          description: (v1.0) Succesfully performed a post action on the Dynamic 365
            Business Central salesInvoices entity
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoice_id
      in: path
      description: (v1.0) id for salesInvoice
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.send:
    post:
      tags:
      - salesInvoice
      summary: Performs the send action for salesInvoices entity
      operationId: sendActionSalesInvoices
      responses:
        "204":
          description: (v1.0) Succesfully performed a send action on the Dynamic 365
            Business Central salesInvoices entity
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoice_id
      in: path
      description: (v1.0) id for salesInvoice
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/salesInvoices({salesInvoice_id})/salesInvoiceLines:
    get:
      tags:
      - salesInvoiceLine
      summary: Returns a list of salesInvoiceLines
      operationId: listSalesInvoiceLinesForSalesInvoice
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $expand
        in: query
        description: (v1.0) Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - item
            - account
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - documentId
            - sequence
            - itemId
            - accountId
            - lineType
            - lineDetails
            - description
            - unitOfMeasureId
            - unitOfMeasure
            - unitPrice
            - quantity
            - discountAmount
            - discountPercent
            - discountAppliedBeforeTax
            - amountExcludingTax
            - taxCode
            - taxPercent
            - totalTaxAmount
            - amountIncludingTax
            - invoiceDiscountAllocation
            - netAmount
            - netTaxAmount
            - netAmountIncludingTax
            - shipmentDate
      responses:
        "200":
          description: (v1.0) Succesfully returned a list of salesInvoiceLines
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2009"
    post:
      tags:
      - salesInvoiceLine
      summary: Creates an object of type salesInvoiceLine in Dynamics 365 Business
        Central
      operationId: postSalesInvoiceLineForSalesInvoice
      parameters:
      - $ref: "#/components/parameters/ContentTypeParam"
      requestBody:
        $ref: "#/components/requestBodies/salesInvoiceLine"
      responses:
        "201":
          description: (v1.0) A new salesInvoiceLine has been succesfully created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/salesInvoiceLine"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoice_id
      in: path
      description: (v1.0) id for salesInvoice
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/salesInvoices({salesInvoice_id})/salesInvoiceLines('{salesInvoiceLine_id}'):
    get:
      tags:
      - salesInvoiceLine
      summary: Retrieve the properties and relationships of an object of type salesInvoiceLine
        for Dynamics 365 Business Central.
      operationId: getSalesInvoiceLineForSalesInvoice
      parameters:
      - name: $expand
        in: query
        description: (v1.0) Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - item
            - account
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - documentId
            - sequence
            - itemId
            - accountId
            - lineType
            - lineDetails
            - description
            - unitOfMeasureId
            - unitOfMeasure
            - unitPrice
            - quantity
            - discountAmount
            - discountPercent
            - discountAppliedBeforeTax
            - amountExcludingTax
            - taxCode
            - taxPercent
            - totalTaxAmount
            - amountIncludingTax
            - invoiceDiscountAllocation
            - netAmount
            - netTaxAmount
            - netAmountIncludingTax
            - shipmentDate
      responses:
        "200":
          description: (v1.0) Succesfully returned the requested salesInvoiceLine
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/salesInvoiceLine"
    delete:
      tags:
      - salesInvoiceLine
      summary: Deletes an object of type salesInvoiceLine in Dynamics 365 Business
        Central
      operationId: deleteSalesInvoiceLineForSalesInvoice
      responses:
        "204":
          description: (v1.0) Succesfully deleted the specified salesInvoiceLine
    patch:
      tags:
      - salesInvoiceLine
      summary: Updates an object of type salesInvoiceLine in Dynamics 365 Business
        Central
      operationId: patchSalesInvoiceLineForSalesInvoice
      parameters:
      - $ref: "#/components/parameters/ContentTypeParam"
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/salesInvoiceLine"
      responses:
        "200":
          description: (v1.0) Succesfully updated the specifiedsalesInvoiceLine
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/salesInvoiceLine"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoice_id
      in: path
      description: (v1.0) id for salesInvoice
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoiceLine_id
      in: path
      description: (v1.0) id for salesInvoiceLine
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /companies({company_id})/salesInvoices({salesInvoice_id})/pdfDocument:
    get:
      tags:
      - pdfDocument
      summary: Returns a list of pdfDocument
      operationId: listPdfDocumentForSalesInvoice
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - content
      responses:
        "200":
          description: (v1.0) Succesfully returned a list of pdfDocument
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse20010"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoice_id
      in: path
      description: (v1.0) id for salesInvoice
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/salesInvoices({salesInvoice_id})/pdfDocument({pdfDocument_id}):
    get:
      tags:
      - pdfDocument
      summary: Retrieve the properties and relationships of an object of type pdfDocument
        for Dynamics 365 Business Central.
      operationId: getPdfDocumentForSalesInvoice
      parameters:
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - content
      responses:
        "200":
          description: (v1.0) Succesfully returned the requested pdfDocument
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pdfDocument"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoice_id
      in: path
      description: (v1.0) id for salesInvoice
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: pdfDocument_id
      in: path
      description: (v1.0) id for pdfDocument
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/salesInvoiceLines:
    get:
      tags:
      - salesInvoiceLine
      summary: Returns a list of salesInvoiceLines
      operationId: listSalesInvoiceLines
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $expand
        in: query
        description: (v1.0) Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - item
            - account
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - documentId
            - sequence
            - itemId
            - accountId
            - lineType
            - lineDetails
            - description
            - unitOfMeasureId
            - unitOfMeasure
            - unitPrice
            - quantity
            - discountAmount
            - discountPercent
            - discountAppliedBeforeTax
            - amountExcludingTax
            - taxCode
            - taxPercent
            - totalTaxAmount
            - amountIncludingTax
            - invoiceDiscountAllocation
            - netAmount
            - netTaxAmount
            - netAmountIncludingTax
            - shipmentDate
      responses:
        "200":
          description: (v1.0) Succesfully returned a list of salesInvoiceLines
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2009"
    post:
      tags:
      - salesInvoiceLine
      summary: Creates an object of type salesInvoiceLine in Dynamics 365 Business
        Central
      operationId: postSalesInvoiceLine
      parameters:
      - $ref: "#/components/parameters/ContentTypeParam"
      requestBody:
        $ref: "#/components/requestBodies/salesInvoiceLine"
      responses:
        "201":
          description: (v1.0) A new salesInvoiceLine has been succesfully created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/salesInvoiceLine"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/salesInvoiceLines('{salesInvoiceLine_id}'):
    get:
      tags:
      - salesInvoiceLine
      summary: Retrieve the properties and relationships of an object of type salesInvoiceLine
        for Dynamics 365 Business Central.
      operationId: getSalesInvoiceLine
      parameters:
      - name: $expand
        in: query
        description: (v1.0) Entities to expand
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - item
            - account
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - documentId
            - sequence
            - itemId
            - accountId
            - lineType
            - lineDetails
            - description
            - unitOfMeasureId
            - unitOfMeasure
            - unitPrice
            - quantity
            - discountAmount
            - discountPercent
            - discountAppliedBeforeTax
            - amountExcludingTax
            - taxCode
            - taxPercent
            - totalTaxAmount
            - amountIncludingTax
            - invoiceDiscountAllocation
            - netAmount
            - netTaxAmount
            - netAmountIncludingTax
            - shipmentDate
      responses:
        "200":
          description: (v1.0) Succesfully returned the requested salesInvoiceLine
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/salesInvoiceLine"
    delete:
      tags:
      - salesInvoiceLine
      summary: Deletes an object of type salesInvoiceLine in Dynamics 365 Business
        Central
      operationId: deleteSalesInvoiceLine
      responses:
        "204":
          description: (v1.0) Succesfully deleted the specified salesInvoiceLine
    patch:
      tags:
      - salesInvoiceLine
      summary: Updates an object of type salesInvoiceLine in Dynamics 365 Business
        Central
      operationId: patchSalesInvoiceLine
      parameters:
      - $ref: "#/components/parameters/ContentTypeParam"
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/salesInvoiceLine"
      responses:
        "200":
          description: (v1.0) Succesfully updated the specifiedsalesInvoiceLine
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/salesInvoiceLine"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoiceLine_id
      in: path
      description: (v1.0) id for salesInvoiceLine
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /companies({company_id})/pdfDocument:
    get:
      tags:
      - pdfDocument
      summary: Returns a list of pdfDocument
      operationId: listPdfDocument
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - content
      responses:
        "200":
          description: (v1.0) Succesfully returned a list of pdfDocument
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse20010"
    parameters:
    - name: company_id
      in: path
      description: (v1.0) id for company
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/pdfDocument({pdfDocument_id}):
    get:
      tags:
      - pdfDocument
      summary: Retrieve the properties and relationships of an object of type pdfDocument
        for Dynamics 365 Business Central.
      operationId: getPdfDocument
      parameters:
      - name: $select
        in: query
        description: (v1.0) Selected properties to be retrieved
        required: false
        style: form
        explode: false
[...]
