openapi: 3.0.0
info:
  title: (v1.0) Dynamics 365 Business Central
  description: Business Central Standard APIs (v1.0) for Microsoft Dynamics 365 Business
    Central.
  version: 1.0.0
servers:
- url: "https://api.businesscentral.dynamics.com/v2.0/{environment}/api/v1.0"
  description: Dynamics 365 Business Central API v1.0
  variables:
    environment:
      description: The Business Central environment name
      enum:
      - production
      - sandbox
      default: production
security:
- oAuth:
  - Financials.ReadWrite.All
tags:
- name: company
  description: Represents an object of type company in Dynamics 365 Business Central
- name: item
  description: Represents an object of type item in Dynamics 365 Business Central
- name: picture
  description: Represents an object of type picture in Dynamics 365 Business Central
- name: defaultDimensions
  description: Represents an object of type defaultDimensions in Dynamics 365 Business
    Central
- name: customer
  description: Represents an object of type customer in Dynamics 365 Business Central
- name: customerFinancialDetail
  description: Represents an object of type customerFinancialDetail in Dynamics 365
    Business Central
- name: vendor
  description: Represents an object of type vendor in Dynamics 365 Business Central
- name: companyInformation
  description: Represents an object of type companyInformation in Dynamics 365 Business
    Central
- name: salesInvoice
  description: Represents an object of type salesInvoice in Dynamics 365 Business
    Central
- name: salesInvoiceLine
  description: Represents an object of type salesInvoiceLine in Dynamics 365 Business
    Central
- name: pdfDocument
  description: Represents an object of type pdfDocument in Dynamics 365 Business Central
- name: customerPaymentJournal
  description: Represents an object of type customerPaymentJournal in Dynamics 365
    Business Central
- name: customerPayment
  description: Represents an object of type customerPayment in Dynamics 365 Business
    Central
- name: account
  description: Represents an object of type account in Dynamics 365 Business Central
- name: taxGroup
  description: Represents an object of type taxGroup in Dynamics 365 Business Central
- name: journal
  description: Represents an object of type journal in Dynamics 365 Business Central
- name: journalLine
  description: Represents an object of type journalLine in Dynamics 365 Business Central
- name: attachments
  description: Represents an object of type attachments in Dynamics 365 Business Central
- name: employee
  description: Represents an object of type employee in Dynamics 365 Business Central
- name: timeRegistrationEntry
  description: Represents an object of type timeRegistrationEntry in Dynamics 365
    Business Central
- name: generalLedgerEntry
  description: Represents an object of type generalLedgerEntry in Dynamics 365 Business
    Central
- name: currency
  description: Represents an object of type currency in Dynamics 365 Business Central
- name: paymentMethod
  description: Represents an object of type paymentMethod in Dynamics 365 Business
    Central
- name: dimension
  description: Represents an object of type dimension in Dynamics 365 Business Central
- name: dimensionValue
  description: Represents an object of type dimensionValue in Dynamics 365 Business
    Central
- name: dimensionLine
  description: Represents an object of type dimensionLine in Dynamics 365 Business
    Central
- name: paymentTerm
  description: Represents an object of type paymentTerm in Dynamics 365 Business Central
- name: shipmentMethod
  description: Represents an object of type shipmentMethod in Dynamics 365 Business
    Central
- name: itemCategory
  description: Represents an object of type itemCategory in Dynamics 365 Business
    Central
- name: cashFlowStatement
  description: Represents an object of type cashFlowStatement in Dynamics 365 Business
    Central
- name: countryRegion
  description: Represents an object of type countryRegion in Dynamics 365 Business
    Central
- name: salesOrder
  description: Represents an object of type salesOrder in Dynamics 365 Business Central
- name: salesOrderLine
  description: Represents an object of type salesOrderLine in Dynamics 365 Business
    Central
- name: retainedEarningsStatement
  description: Represents an object of type retainedEarningsStatement in Dynamics
    365 Business Central
- name: unitOfMeasure
  description: Represents an object of type unitOfMeasure in Dynamics 365 Business
    Central
- name: agedAccountsReceivable
  description: Represents an object of type agedAccountsReceivable in Dynamics 365
    Business Central
- name: agedAccountsPayable
  description: Represents an object of type agedAccountsPayable in Dynamics 365 Business
    Central
- name: balanceSheet
  description: Represents an object of type balanceSheet in Dynamics 365 Business
    Central
- name: trialBalance
  description: Represents an object of type trialBalance in Dynamics 365 Business
    Central
- name: incomeStatement
  description: Represents an object of type incomeStatement in Dynamics 365 Business
    Central
- name: taxArea
  description: Represents an object of type taxArea in Dynamics 365 Business Central
- name: salesQuote
  description: Represents an object of type salesQuote in Dynamics 365 Business Central
- name: salesQuoteLine
  description: Represents an object of type salesQuoteLine in Dynamics 365 Business
    Central
- name: salesCreditMemo
  description: Represents an object of type salesCreditMemo in Dynamics 365 Business
    Central
- name: salesCreditMemoLine
  description: Represents an object of type salesCreditMemoLine in Dynamics 365 Business
    Central
- name: generalLedgerEntryAttachments
  description: Represents an object of type generalLedgerEntryAttachments in Dynamics
    365 Business Central
- name: purchaseInvoice
  description: Represents an object of type purchaseInvoice in Dynamics 365 Business
    Central
- name: purchaseInvoiceLine
  description: Represents an object of type purchaseInvoiceLine in Dynamics 365 Business
    Central
- name: project
  description: Represents an object of type project in Dynamics 365 Business Central
- name: bankAccount
  description: Represents an object of type bankAccount in Dynamics 365 Business Central
- name: customerSale
  description: Represents an object of type customerSale in Dynamics 365 Business
    Central
- name: vendorPurchase
  description: Represents an object of type vendorPurchase in Dynamics 365 Business
    Central
paths:
  /companies:
    get:
      tags:
      - company
      summary: Returns a list of companies
      operationId: listCompanies
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - systemVersion
            - name
            - displayName
            - businessProfileId
        x-ballerina-name: select
      responses:
        "200":
          description: A list of companies was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse200"
  /companies({company_id}):
    get:
      tags:
      - company
      summary: Returns a company.
      operationId: getCompany
      parameters:
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - systemVersion
            - name
            - displayName
            - businessProfileId
        x-ballerina-name: select
      responses:
        "200":
          description: The requested company was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/company"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/items:
    get:
      tags:
      - item
      summary: Returns a list of items
      operationId: listItems
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - picture
            - defaultDimensions
            - itemCategory
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
            - type
            - itemCategoryId
            - itemCategoryCode
            - blocked
            - baseUnitOfMeasureId
            - baseUnitOfMeasure
            - gtin
            - inventory
            - unitPrice
            - priceIncludesTax
            - unitCost
            - taxGroupId
            - taxGroupCode
            - lastModifiedDateTime
        x-ballerina-name: select
      responses:
        "200":
          description: A list of items was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2001"
    post:
      tags:
      - item
      summary: Creates an item
      operationId: postItem
      requestBody:
        $ref: "#/components/requestBodies/item"
      responses:
        "201":
          description: The item was created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/item"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/items({item_id}):
    get:
      tags:
      - item
      summary: Returns an item.
      operationId: getItem
      parameters:
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - picture
            - defaultDimensions
            - itemCategory
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
            - type
            - itemCategoryId
            - itemCategoryCode
            - blocked
            - baseUnitOfMeasureId
            - baseUnitOfMeasure
            - gtin
            - inventory
            - unitPrice
            - priceIncludesTax
            - unitCost
            - taxGroupId
            - taxGroupCode
            - lastModifiedDateTime
        x-ballerina-name: select
      responses:
        "200":
          description: The requested item was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/item"
    delete:
      tags:
      - item
      summary: Deletes an item
      operationId: deleteItem
      responses:
        "204":
          description: The item was deleted successfully.
    patch:
      tags:
      - item
      summary: Updates an item
      operationId: patchItem
      parameters:
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/item"
      responses:
        "200":
          description: The updated item was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/item"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: item_id
      in: path
      description: The unique identifier of the item.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/items({item_id})/picture:
    get:
      tags:
      - picture
      summary: Returns a list of pictures for an item
      operationId: listPictureForItem
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
        x-ballerina-name: select
      responses:
        "200":
          description: A list of pictures was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2002"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: item_id
      in: path
      description: The unique identifier of the item.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/items({item_id})/picture({picture_id}):
    get:
      tags:
      - picture
      summary: Returns a picture for an item.
      operationId: getPictureForItem
      parameters:
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
        x-ballerina-name: select
      responses:
        "200":
          description: The requested picture was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/picture"
    delete:
      tags:
      - picture
      summary: Deletes a picture for an item
      operationId: deletePictureForItem
      responses:
        "204":
          description: The picture was deleted successfully.
    patch:
      tags:
      - picture
      summary: Updates a picture for an item
      operationId: patchPictureForItem
      parameters:
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/picture"
      responses:
        "200":
          description: The updated picture was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/picture"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: item_id
      in: path
      description: The unique identifier of the item.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: picture_id
      in: path
      description: The unique identifier of the picture.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/items({item_id})/defaultDimensions:
    get:
      tags:
      - defaultDimensions
      summary: Returns a list of default dimensions for an item
      operationId: listDefaultDimensionsForItem
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
        x-ballerina-name: select
      responses:
        "200":
          description: A list of default dimensions was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2003"
    post:
      tags:
      - defaultDimensions
      summary: Creates a default dimension for an item
      operationId: postDefaultDimensionsForItem
      requestBody:
        $ref: "#/components/requestBodies/defaultDimensions"
      responses:
        "201":
          description: The default dimension was created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/defaultDimensions"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: item_id
      in: path
      description: The unique identifier of the item.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/items({item_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId}):
    get:
      tags:
      - defaultDimensions
      summary: Returns a default dimension for an item.
      operationId: getDefaultDimensionsForItem
      parameters:
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
        x-ballerina-name: select
      responses:
        "200":
          description: The requested default dimension was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/defaultDimensions"
    delete:
      tags:
      - defaultDimensions
      summary: Deletes a default dimension for an item
      operationId: deleteDefaultDimensionsForItem
      responses:
        "204":
          description: The default dimension was deleted successfully.
    patch:
      tags:
      - defaultDimensions
      summary: Updates a default dimension for an item
      operationId: patchDefaultDimensionsForItem
      parameters:
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/defaultDimensions"
      responses:
        "200":
          description: The updated default dimension was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/defaultDimensions"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: item_id
      in: path
      description: The unique identifier of the item.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: defaultDimensions_parentId
      in: path
      description: The parent id of the default dimensions.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: defaultDimensions_dimensionId
      in: path
      description: The dimension id of the default dimensions.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/picture:
    get:
      tags:
      - picture
      summary: Returns a list of pictures
      operationId: listPicture
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
        x-ballerina-name: select
      responses:
        "200":
          description: A list of pictures was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2002"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/picture({picture_id}):
    get:
      tags:
      - picture
      summary: Returns a picture.
      operationId: getPicture
      parameters:
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
        x-ballerina-name: select
      responses:
        "200":
          description: The requested picture was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/picture"
    delete:
      tags:
      - picture
      summary: Deletes a picture
      operationId: deletePicture
      responses:
        "204":
          description: The picture was deleted successfully.
    patch:
      tags:
      - picture
      summary: Updates a picture
      operationId: patchPicture
      parameters:
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/picture"
      responses:
        "200":
          description: The updated picture was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/picture"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: picture_id
      in: path
      description: The unique identifier of the picture.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/defaultDimensions:
    get:
      tags:
      - defaultDimensions
      summary: Returns a list of default dimensions
      operationId: listDefaultDimensions
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
        x-ballerina-name: select
      responses:
        "200":
          description: A list of default dimensions was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2003"
    post:
      tags:
      - defaultDimensions
      summary: Creates a default dimension
      operationId: postDefaultDimensions
      requestBody:
        $ref: "#/components/requestBodies/defaultDimensions"
      responses:
        "201":
          description: The default dimension was created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/defaultDimensions"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId}):
    get:
      tags:
      - defaultDimensions
      summary: Returns a default dimension.
      operationId: getDefaultDimensions
      parameters:
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
        x-ballerina-name: select
      responses:
        "200":
          description: The requested default dimension was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/defaultDimensions"
    delete:
      tags:
      - defaultDimensions
      summary: Deletes a default dimension
      operationId: deleteDefaultDimensions
      responses:
        "204":
          description: The default dimension was deleted successfully.
    patch:
      tags:
      - defaultDimensions
      summary: Updates a default dimension
      operationId: patchDefaultDimensions
      parameters:
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/defaultDimensions"
      responses:
        "200":
          description: The updated default dimension was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/defaultDimensions"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: defaultDimensions_parentId
      in: path
      description: The parent id of the default dimensions.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: defaultDimensions_dimensionId
      in: path
      description: The dimension id of the default dimensions.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/customers:
    get:
      tags:
      - customer
      summary: Returns a list of customers
      operationId: listCustomers
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - customerFinancialDetails
            - picture
            - defaultDimensions
            - currency
            - paymentTerm
            - shipmentMethod
            - paymentMethod
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
            - type
            - address
            - phoneNumber
            - email
            - website
            - taxLiable
            - taxAreaId
            - taxAreaDisplayName
            - taxRegistrationNumber
            - currencyId
            - currencyCode
            - paymentTermsId
            - shipmentMethodId
            - paymentMethodId
            - blocked
            - lastModifiedDateTime
        x-ballerina-name: select
      responses:
        "200":
          description: A list of customers was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2004"
    post:
      tags:
      - customer
      summary: Creates a customer
      operationId: postCustomer
      requestBody:
        $ref: "#/components/requestBodies/customer"
      responses:
        "201":
          description: The customer was created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customer"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/customers({customer_id}):
    get:
      tags:
      - customer
      summary: Returns a customer.
      operationId: getCustomer
      parameters:
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - customerFinancialDetails
            - picture
            - defaultDimensions
            - currency
            - paymentTerm
            - shipmentMethod
            - paymentMethod
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
            - type
            - address
            - phoneNumber
            - email
            - website
            - taxLiable
            - taxAreaId
            - taxAreaDisplayName
            - taxRegistrationNumber
            - currencyId
            - currencyCode
            - paymentTermsId
            - shipmentMethodId
            - paymentMethodId
            - blocked
            - lastModifiedDateTime
        x-ballerina-name: select
      responses:
        "200":
          description: The requested customer was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customer"
    delete:
      tags:
      - customer
      summary: Deletes a customer
      operationId: deleteCustomer
      responses:
        "204":
          description: The customer was deleted successfully.
    patch:
      tags:
      - customer
      summary: Updates a customer
      operationId: patchCustomer
      parameters:
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/customer"
      responses:
        "200":
          description: The updated customer was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customer"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: customer_id
      in: path
      description: The unique identifier of the customer.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/customers({customer_id})/customerFinancialDetails:
    get:
      tags:
      - customerFinancialDetail
      summary: Returns a list of customer financial details for a customer
      operationId: listCustomerFinancialDetailsForCustomer
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - balance
            - totalSalesExcludingTax
            - overdueAmount
        x-ballerina-name: select
      responses:
        "200":
          description: A list of customer financial details was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2005"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: customer_id
      in: path
      description: The unique identifier of the customer.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/customers({customer_id})/customerFinancialDetails({customerFinancialDetail_id}):
    get:
      tags:
      - customerFinancialDetail
      summary: Returns a customer financial detail for a customer.
      operationId: getCustomerFinancialDetailForCustomer
      parameters:
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - balance
            - totalSalesExcludingTax
            - overdueAmount
        x-ballerina-name: select
      responses:
        "200":
          description: The requested customer financial detail was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customerFinancialDetail"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: customer_id
      in: path
      description: The unique identifier of the customer.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: customerFinancialDetail_id
      in: path
      description: The unique identifier of the customer financial detail.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/customers({customer_id})/picture:
    get:
      tags:
      - picture
      summary: Returns a list of pictures for a customer
      operationId: listPictureForCustomer
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
        x-ballerina-name: select
      responses:
        "200":
          description: A list of pictures was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2002"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: customer_id
      in: path
      description: The unique identifier of the customer.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/customers({customer_id})/picture({picture_id}):
    get:
      tags:
      - picture
      summary: Returns a picture for a customer.
      operationId: getPictureForCustomer
      parameters:
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
        x-ballerina-name: select
      responses:
        "200":
          description: The requested picture was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/picture"
    delete:
      tags:
      - picture
      summary: Deletes a picture for a customer
      operationId: deletePictureForCustomer
      responses:
        "204":
          description: The picture was deleted successfully.
    patch:
      tags:
      - picture
      summary: Updates a picture for a customer
      operationId: patchPictureForCustomer
      parameters:
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/picture"
      responses:
        "200":
          description: The updated picture was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/picture"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: customer_id
      in: path
      description: The unique identifier of the customer.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: picture_id
      in: path
      description: The unique identifier of the picture.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/customers({customer_id})/defaultDimensions:
    get:
      tags:
      - defaultDimensions
      summary: Returns a list of default dimensions for a customer
      operationId: listDefaultDimensionsForCustomer
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
        x-ballerina-name: select
      responses:
        "200":
          description: A list of default dimensions was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2003"
    post:
      tags:
      - defaultDimensions
      summary: Creates a default dimension for a customer
      operationId: postDefaultDimensionsForCustomer
      requestBody:
        $ref: "#/components/requestBodies/defaultDimensions"
      responses:
        "201":
          description: The default dimension was created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/defaultDimensions"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: customer_id
      in: path
      description: The unique identifier of the customer.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  ? /companies({company_id})/customers({customer_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId})
  : get:
      tags:
      - defaultDimensions
      summary: Returns a default dimension for a customer.
      operationId: getDefaultDimensionsForCustomer
      parameters:
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
        x-ballerina-name: select
      responses:
        "200":
          description: The requested default dimension was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/defaultDimensions"
    delete:
      tags:
      - defaultDimensions
      summary: Deletes a default dimension for a customer
      operationId: deleteDefaultDimensionsForCustomer
      responses:
        "204":
          description: The default dimension was deleted successfully.
    patch:
      tags:
      - defaultDimensions
      summary: Updates a default dimension for a customer
      operationId: patchDefaultDimensionsForCustomer
      parameters:
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/defaultDimensions"
      responses:
        "200":
          description: The updated default dimension was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/defaultDimensions"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: customer_id
      in: path
      description: The unique identifier of the customer.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: defaultDimensions_parentId
      in: path
      description: The parent id of the default dimensions.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: defaultDimensions_dimensionId
      in: path
      description: The dimension id of the default dimensions.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/customerFinancialDetails:
    get:
      tags:
      - customerFinancialDetail
      summary: Returns a list of customer financial details
      operationId: listCustomerFinancialDetails
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - balance
            - totalSalesExcludingTax
            - overdueAmount
        x-ballerina-name: select
      responses:
        "200":
          description: A list of customer financial details was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2005"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/customerFinancialDetails({customerFinancialDetail_id}):
    get:
      tags:
      - customerFinancialDetail
      summary: Returns a customer financial detail.
      operationId: getCustomerFinancialDetail
      parameters:
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - balance
            - totalSalesExcludingTax
            - overdueAmount
        x-ballerina-name: select
      responses:
        "200":
          description: The requested customer financial detail was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customerFinancialDetail"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: customerFinancialDetail_id
      in: path
      description: The unique identifier of the customer financial detail.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/vendors:
    get:
      tags:
      - vendor
      summary: Returns a list of vendors
      operationId: listVendors
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - picture
            - defaultDimensions
            - currency
            - paymentTerm
            - paymentMethod
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
            - address
            - phoneNumber
            - email
            - website
            - taxRegistrationNumber
            - currencyId
            - currencyCode
            - irs1099Code
            - paymentTermsId
            - paymentMethodId
            - taxLiable
            - blocked
            - balance
            - lastModifiedDateTime
        x-ballerina-name: select
      responses:
        "200":
          description: A list of vendors was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2006"
    post:
      tags:
      - vendor
      summary: Creates a vendor
      operationId: postVendor
      requestBody:
        $ref: "#/components/requestBodies/vendor"
      responses:
        "201":
          description: The vendor was created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/vendor"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/vendors({vendor_id}):
    get:
      tags:
      - vendor
      summary: Returns a vendor.
      operationId: getVendor
      parameters:
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - picture
            - defaultDimensions
            - currency
            - paymentTerm
            - paymentMethod
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - displayName
            - address
            - phoneNumber
            - email
            - website
            - taxRegistrationNumber
            - currencyId
            - currencyCode
            - irs1099Code
            - paymentTermsId
            - paymentMethodId
            - taxLiable
            - blocked
            - balance
            - lastModifiedDateTime
        x-ballerina-name: select
      responses:
        "200":
          description: The requested vendor was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/vendor"
    delete:
      tags:
      - vendor
      summary: Deletes a vendor
      operationId: deleteVendor
      responses:
        "204":
          description: The vendor was deleted successfully.
    patch:
      tags:
      - vendor
      summary: Updates a vendor
      operationId: patchVendor
      parameters:
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/vendor"
      responses:
        "200":
          description: The updated vendor was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/vendor"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: vendor_id
      in: path
      description: The unique identifier of the vendor.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/vendors({vendor_id})/picture:
    get:
      tags:
      - picture
      summary: Returns a list of pictures for a vendor
      operationId: listPictureForVendor
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
        x-ballerina-name: select
      responses:
        "200":
          description: A list of pictures was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2002"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: vendor_id
      in: path
      description: The unique identifier of the vendor.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/vendors({vendor_id})/picture({picture_id}):
    get:
      tags:
      - picture
      summary: Returns a picture for a vendor.
      operationId: getPictureForVendor
      parameters:
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - width
            - height
            - contentType
            - content
        x-ballerina-name: select
      responses:
        "200":
          description: The requested picture was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/picture"
    delete:
      tags:
      - picture
      summary: Deletes a picture for a vendor
      operationId: deletePictureForVendor
      responses:
        "204":
          description: The picture was deleted successfully.
    patch:
      tags:
      - picture
      summary: Updates a picture for a vendor
      operationId: patchPictureForVendor
      parameters:
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/picture"
      responses:
        "200":
          description: The updated picture was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/picture"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: vendor_id
      in: path
      description: The unique identifier of the vendor.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: picture_id
      in: path
      description: The unique identifier of the picture.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/vendors({vendor_id})/defaultDimensions:
    get:
      tags:
      - defaultDimensions
      summary: Returns a list of default dimensions for a vendor
      operationId: listDefaultDimensionsForVendor
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
        x-ballerina-name: select
      responses:
        "200":
          description: A list of default dimensions was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2003"
    post:
      tags:
      - defaultDimensions
      summary: Creates a default dimension for a vendor
      operationId: postDefaultDimensionsForVendor
      requestBody:
        $ref: "#/components/requestBodies/defaultDimensions"
      responses:
        "201":
          description: The default dimension was created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/defaultDimensions"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: vendor_id
      in: path
      description: The unique identifier of the vendor.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/vendors({vendor_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId}):
    get:
      tags:
      - defaultDimensions
      summary: Returns a default dimension for a vendor.
      operationId: getDefaultDimensionsForVendor
      parameters:
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - account
            - dimension
            - dimensionValue
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - parentId
            - dimensionId
            - dimensionCode
            - dimensionValueId
            - dimensionValueCode
            - postingValidation
        x-ballerina-name: select
      responses:
        "200":
          description: The requested default dimension was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/defaultDimensions"
    delete:
      tags:
      - defaultDimensions
      summary: Deletes a default dimension for a vendor
      operationId: deleteDefaultDimensionsForVendor
      responses:
        "204":
          description: The default dimension was deleted successfully.
    patch:
      tags:
      - defaultDimensions
      summary: Updates a default dimension for a vendor
      operationId: patchDefaultDimensionsForVendor
      parameters:
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/defaultDimensions"
      responses:
        "200":
          description: The updated default dimension was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/defaultDimensions"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: vendor_id
      in: path
      description: The unique identifier of the vendor.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: defaultDimensions_parentId
      in: path
      description: The parent id of the default dimensions.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: defaultDimensions_dimensionId
      in: path
      description: The dimension id of the default dimensions.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/companyInformation:
    get:
      tags:
      - companyInformation
      summary: Returns a list of company information records
      operationId: listCompanyInformation
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - displayName
            - address
            - phoneNumber
            - faxNumber
            - email
            - website
            - taxRegistrationNumber
            - currencyCode
            - currentFiscalYearStartDate
            - industry
            - picture
            - lastModifiedDateTime
        x-ballerina-name: select
      responses:
        "200":
          description: A list of company information records was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2007"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/companyInformation({companyInformation_id}):
    get:
      tags:
      - companyInformation
      summary: Returns a company information record.
      operationId: getCompanyInformation
      parameters:
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - displayName
            - address
            - phoneNumber
            - faxNumber
            - email
            - website
            - taxRegistrationNumber
            - currencyCode
            - currentFiscalYearStartDate
            - industry
            - picture
            - lastModifiedDateTime
        x-ballerina-name: select
      responses:
        "200":
          description: The requested company information record was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/companyInformation"
    patch:
      tags:
      - companyInformation
      summary: Updates a company information record
      operationId: patchCompanyInformation
      parameters:
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/companyInformation"
      responses:
        "200":
          description: The updated company information record was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/companyInformation"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: companyInformation_id
      in: path
      description: The unique identifier of the company information.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/salesInvoices:
    get:
      tags:
      - salesInvoice
      summary: Returns a list of sales invoices
      operationId: listSalesInvoices
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - salesInvoiceLines
            - pdfDocument
            - customer
            - currency
            - paymentTerm
            - shipmentMethod
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - externalDocumentNumber
            - invoiceDate
            - dueDate
            - customerPurchaseOrderReference
            - customerId
            - contactId
            - customerNumber
            - customerName
            - billToName
            - billToCustomerId
            - billToCustomerNumber
            - shipToName
            - shipToContact
            - sellingPostalAddress
            - billingPostalAddress
            - shippingPostalAddress
            - currencyId
            - currencyCode
            - orderId
            - orderNumber
            - paymentTermsId
            - shipmentMethodId
            - salesperson
            - pricesIncludeTax
            - remainingAmount
            - discountAmount
            - discountAppliedBeforeTax
            - totalAmountExcludingTax
            - totalTaxAmount
            - totalAmountIncludingTax
            - status
            - lastModifiedDateTime
            - phoneNumber
            - email
        x-ballerina-name: select
      responses:
        "200":
          description: A list of sales invoices was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2008"
    post:
      tags:
      - salesInvoice
      summary: Creates a sales invoice
      operationId: postSalesInvoice
      requestBody:
        $ref: "#/components/requestBodies/salesInvoice"
      responses:
        "201":
          description: The sales invoice was created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/salesInvoice"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/salesInvoices({salesInvoice_id}):
    get:
      tags:
      - salesInvoice
      summary: Returns a sales invoice.
      operationId: getSalesInvoice
      parameters:
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - salesInvoiceLines
            - pdfDocument
            - customer
            - currency
            - paymentTerm
            - shipmentMethod
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - number
            - externalDocumentNumber
            - invoiceDate
            - dueDate
            - customerPurchaseOrderReference
            - customerId
            - contactId
            - customerNumber
            - customerName
            - billToName
            - billToCustomerId
            - billToCustomerNumber
            - shipToName
            - shipToContact
            - sellingPostalAddress
            - billingPostalAddress
            - shippingPostalAddress
            - currencyId
            - currencyCode
            - orderId
            - orderNumber
            - paymentTermsId
            - shipmentMethodId
            - salesperson
            - pricesIncludeTax
            - remainingAmount
            - discountAmount
            - discountAppliedBeforeTax
            - totalAmountExcludingTax
            - totalTaxAmount
            - totalAmountIncludingTax
            - status
            - lastModifiedDateTime
            - phoneNumber
            - email
        x-ballerina-name: select
      responses:
        "200":
          description: The requested sales invoice was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/salesInvoice"
    delete:
      tags:
      - salesInvoice
      summary: Deletes a sales invoice
      operationId: deleteSalesInvoice
      responses:
        "204":
          description: The sales invoice was deleted successfully.
    patch:
      tags:
      - salesInvoice
      summary: Updates a sales invoice
      operationId: patchSalesInvoice
      parameters:
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/salesInvoice"
      responses:
        "200":
          description: The updated sales invoice was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/salesInvoice"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoice_id
      in: path
      description: The unique identifier of the sales invoice.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.cancelAndSend:
    post:
      tags:
      - salesInvoice
      summary: Performs the cancel and send action on a sales invoice
      operationId: cancelAndSendActionSalesInvoices
      responses:
        "204":
          description: The cancel and send action completed successfully.
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoice_id
      in: path
      description: The unique identifier of the sales invoice.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.cancel:
    post:
      tags:
      - salesInvoice
      summary: Performs the cancel action on a sales invoice
      operationId: cancelActionSalesInvoices
      responses:
        "204":
          description: The cancel action completed successfully.
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoice_id
      in: path
      description: The unique identifier of the sales invoice.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.makeCorrectiveCreditMemo:
    post:
      tags:
      - salesInvoice
      summary: Performs the make corrective credit memo action on a sales invoice
      operationId: makeCorrectiveCreditMemoActionSalesInvoices
      responses:
        "204":
          description: The make corrective credit memo action completed successfully.
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoice_id
      in: path
      description: The unique identifier of the sales invoice.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.postAndSend:
    post:
      tags:
      - salesInvoice
      summary: Performs the post and send action on a sales invoice
      operationId: postAndSendActionSalesInvoices
      responses:
        "204":
          description: The post and send action completed successfully.
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoice_id
      in: path
      description: The unique identifier of the sales invoice.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.post:
    post:
      tags:
      - salesInvoice
      summary: Performs the post action on a sales invoice
      operationId: postActionSalesInvoices
      responses:
        "204":
          description: The post action completed successfully.
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoice_id
      in: path
      description: The unique identifier of the sales invoice.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.send:
    post:
      tags:
      - salesInvoice
      summary: Performs the send action on a sales invoice
      operationId: sendActionSalesInvoices
      responses:
        "204":
          description: The send action completed successfully.
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoice_id
      in: path
      description: The unique identifier of the sales invoice.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/salesInvoices({salesInvoice_id})/salesInvoiceLines:
    get:
      tags:
      - salesInvoiceLine
      summary: Returns a list of sales invoice lines for a sales invoice
      operationId: listSalesInvoiceLinesForSalesInvoice
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - item
            - account
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - documentId
            - sequence
            - itemId
            - accountId
            - lineType
            - lineDetails
            - description
            - unitOfMeasureId
            - unitOfMeasure
            - unitPrice
            - quantity
            - discountAmount
            - discountPercent
            - discountAppliedBeforeTax
            - amountExcludingTax
            - taxCode
            - taxPercent
            - totalTaxAmount
            - amountIncludingTax
            - invoiceDiscountAllocation
            - netAmount
            - netTaxAmount
            - netAmountIncludingTax
            - shipmentDate
        x-ballerina-name: select
      responses:
        "200":
          description: A list of sales invoice lines was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2009"
    post:
      tags:
      - salesInvoiceLine
      summary: Creates a sales invoice line for a sales invoice
      operationId: postSalesInvoiceLineForSalesInvoice
      requestBody:
        $ref: "#/components/requestBodies/salesInvoiceLine"
      responses:
        "201":
          description: The sales invoice line was created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/salesInvoiceLine"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoice_id
      in: path
      description: The unique identifier of the sales invoice.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/salesInvoices({salesInvoice_id})/salesInvoiceLines('{salesInvoiceLine_id}'):
    get:
      tags:
      - salesInvoiceLine
      summary: Returns a sales invoice line for a sales invoice.
      operationId: getSalesInvoiceLineForSalesInvoice
      parameters:
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - item
            - account
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - documentId
            - sequence
            - itemId
            - accountId
            - lineType
            - lineDetails
            - description
            - unitOfMeasureId
            - unitOfMeasure
            - unitPrice
            - quantity
            - discountAmount
            - discountPercent
            - discountAppliedBeforeTax
            - amountExcludingTax
            - taxCode
            - taxPercent
            - totalTaxAmount
            - amountIncludingTax
            - invoiceDiscountAllocation
            - netAmount
            - netTaxAmount
            - netAmountIncludingTax
            - shipmentDate
        x-ballerina-name: select
      responses:
        "200":
          description: The requested sales invoice line was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/salesInvoiceLine"
    delete:
      tags:
      - salesInvoiceLine
      summary: Deletes a sales invoice line for a sales invoice
      operationId: deleteSalesInvoiceLineForSalesInvoice
      responses:
        "204":
          description: The sales invoice line was deleted successfully.
    patch:
      tags:
      - salesInvoiceLine
      summary: Updates a sales invoice line for a sales invoice
      operationId: patchSalesInvoiceLineForSalesInvoice
      parameters:
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/salesInvoiceLine"
      responses:
        "200":
          description: The updated sales invoice line was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/salesInvoiceLine"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoice_id
      in: path
      description: The unique identifier of the sales invoice.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoiceLine_id
      in: path
      description: The unique identifier of the sales invoice line.
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /companies({company_id})/salesInvoices({salesInvoice_id})/pdfDocument:
    get:
      tags:
      - pdfDocument
      summary: Returns a list of PDF documents for a sales invoice
      operationId: listPdfDocumentForSalesInvoice
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - content
        x-ballerina-name: select
      responses:
        "200":
          description: A list of PDF documents was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse20010"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoice_id
      in: path
      description: The unique identifier of the sales invoice.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/salesInvoices({salesInvoice_id})/pdfDocument({pdfDocument_id}):
    get:
      tags:
      - pdfDocument
      summary: Returns a PDF document for a sales invoice.
      operationId: getPdfDocumentForSalesInvoice
      parameters:
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - content
        x-ballerina-name: select
      responses:
        "200":
          description: The requested PDF document was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pdfDocument"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoice_id
      in: path
      description: The unique identifier of the sales invoice.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: pdfDocument_id
      in: path
      description: The unique identifier of the pdf document.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/salesInvoiceLines:
    get:
      tags:
      - salesInvoiceLine
      summary: Returns a list of sales invoice lines
      operationId: listSalesInvoiceLines
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - item
            - account
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - documentId
            - sequence
            - itemId
            - accountId
            - lineType
            - lineDetails
            - description
            - unitOfMeasureId
            - unitOfMeasure
            - unitPrice
            - quantity
            - discountAmount
            - discountPercent
            - discountAppliedBeforeTax
            - amountExcludingTax
            - taxCode
            - taxPercent
            - totalTaxAmount
            - amountIncludingTax
            - invoiceDiscountAllocation
            - netAmount
            - netTaxAmount
            - netAmountIncludingTax
            - shipmentDate
        x-ballerina-name: select
      responses:
        "200":
          description: A list of sales invoice lines was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2009"
    post:
      tags:
      - salesInvoiceLine
      summary: Creates a sales invoice line
      operationId: postSalesInvoiceLine
      requestBody:
        $ref: "#/components/requestBodies/salesInvoiceLine"
      responses:
        "201":
          description: The sales invoice line was created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/salesInvoiceLine"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/salesInvoiceLines('{salesInvoiceLine_id}'):
    get:
      tags:
      - salesInvoiceLine
      summary: Returns a sales invoice line.
      operationId: getSalesInvoiceLine
      parameters:
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - item
            - account
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - documentId
            - sequence
            - itemId
            - accountId
            - lineType
            - lineDetails
            - description
            - unitOfMeasureId
            - unitOfMeasure
            - unitPrice
            - quantity
            - discountAmount
            - discountPercent
            - discountAppliedBeforeTax
            - amountExcludingTax
            - taxCode
            - taxPercent
            - totalTaxAmount
            - amountIncludingTax
            - invoiceDiscountAllocation
            - netAmount
            - netTaxAmount
            - netAmountIncludingTax
            - shipmentDate
        x-ballerina-name: select
      responses:
        "200":
          description: The requested sales invoice line was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/salesInvoiceLine"
    delete:
      tags:
      - salesInvoiceLine
      summary: Deletes a sales invoice line
      operationId: deleteSalesInvoiceLine
      responses:
        "204":
          description: The sales invoice line was deleted successfully.
    patch:
      tags:
      - salesInvoiceLine
      summary: Updates a sales invoice line
      operationId: patchSalesInvoiceLine
      parameters:
      - $ref: "#/components/parameters/IfMatchParam"
      requestBody:
        $ref: "#/components/requestBodies/salesInvoiceLine"
      responses:
        "200":
          description: The updated sales invoice line was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/salesInvoiceLine"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: salesInvoiceLine_id
      in: path
      description: The unique identifier of the sales invoice line.
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /companies({company_id})/pdfDocument:
    get:
      tags:
      - pdfDocument
      summary: Returns a list of PDF documents
      operationId: listPdfDocument
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - content
        x-ballerina-name: select
      responses:
        "200":
          description: A list of PDF documents was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse20010"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/pdfDocument({pdfDocument_id}):
    get:
      tags:
      - pdfDocument
      summary: Returns a PDF document.
      operationId: getPdfDocument
      parameters:
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - content
        x-ballerina-name: select
      responses:
        "200":
          description: The requested PDF document was returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pdfDocument"
    parameters:
    - name: company_id
      in: path
      description: The unique identifier of the company.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
    - name: pdfDocument_id
      in: path
      description: The unique identifier of the pdf document.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        format: uuid
  /companies({company_id})/customerPaymentJournals:
    get:
      tags:
      - customerPaymentJournal
      summary: Returns a list of customer payment journals
      operationId: listCustomerPaymentJournals
      parameters:
      - $ref: "#/components/parameters/topParam"
      - $ref: "#/components/parameters/skipParam"
      - $ref: "#/components/parameters/limitParam"
      - $ref: "#/components/parameters/filterParam"
      - name: $expand
        in: query
        description: The related entities to include in the response.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - customerPayments
            - account
        x-ballerina-name: expand
      - name: $select
        in: query
        description: The properties to include in the returned entities.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - id
[...]
