openapi: '3.0.0'
info:
 version: 1.0.0
 title: (v1.0) Dynamics 365 Business Central
 description: Business Central Standard APIs (v1.0) for Microsoft Dynamics 365 Business Central.
servers:
 - url: https://api.businesscentral.dynamics.com/v2.0/{environment}/api/v1.0
   description: Dynamics 365 Business Central API v1.0
   variables:
    environment:
     description: The Business Central environment name
     default: production
     enum: [production, sandbox]
   
paths:
 "/companies":
  get:
   summary: Returns a list of companies
   tags: 
    - company
   operationId: listCompanies
   responses:
    200:
     description: A list of companies was returned successfully.
     content:
      application/json:
       schema:
        type: object
        properties:
         value:
          type: array
          items:
           $ref: '#/components/schemas/company'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'systemVersion', 'name', 'displayName', 'businessProfileId']
     style: form
     explode: false
 "/companies({company_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a company.
   tags: 
    - company
   operationId: getCompany
   responses:
    200:
     description: The requested company was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/company'
   parameters: 
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'systemVersion', 'name', 'displayName', 'businessProfileId']
     style: form
     explode: false
 "/companies({company_id})/items":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of items
   tags: 
    - item
   operationId: listItems
   responses:
    200:
     description: A list of items was returned successfully.
     content:
      application/json:
       schema:
        type: object
        properties:
         value:
          type: array
          items:
           $ref: '#/components/schemas/item'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $expand
     x-ballerina-name: expand
     in: query
     description: The related entities to include in the response.
     schema:
      type: array
      items:
       type: string
       enum: ['picture', 'defaultDimensions', 'itemCategory']
     style: form
     explode: false
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'number', 'displayName', 'type', 'itemCategoryId', 'itemCategoryCode', 'blocked', 'baseUnitOfMeasureId', 'baseUnitOfMeasure', 'gtin', 'inventory', 'unitPrice', 'priceIncludesTax', 'unitCost', 'taxGroupId', 'taxGroupCode', 'lastModifiedDateTime']
     style: form
     explode: false
  post:
   summary: Creates an item
   tags: 
    - item
   operationId: postItem
   requestBody:
    $ref: '#/components/requestBodies/item'
   responses:
    201:
     description: The item was created successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/item'
 "/companies({company_id})/items({item_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: item_id
     in: path
     required: true
     description: The unique identifier of the item.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns an item.
   tags: 
    - item
   operationId: getItem
   responses:
    200:
     description: The requested item was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/item'
   parameters: 
   - name: $expand
     x-ballerina-name: expand
     in: query
     description: The related entities to include in the response.
     schema:
      type: array
      items:
       type: string
       enum: ['picture', 'defaultDimensions', 'itemCategory']
     style: form
     explode: false
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'number', 'displayName', 'type', 'itemCategoryId', 'itemCategoryCode', 'blocked', 'baseUnitOfMeasureId', 'baseUnitOfMeasure', 'gtin', 'inventory', 'unitPrice', 'priceIncludesTax', 'unitCost', 'taxGroupId', 'taxGroupCode', 'lastModifiedDateTime']
     style: form
     explode: false
  delete:
   summary: Deletes an item
   tags: 
    - item
   operationId: deleteItem
   responses:
    204:
     description: The item was deleted successfully.
  patch:
   summary: Updates an item
   tags: 
    - item
   operationId: patchItem
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/item'
   responses:
    200:
     description: The updated item was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/item'
 "/companies({company_id})/items({item_id})/picture":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: item_id
     in: path
     required: true
     description: The unique identifier of the item.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of pictures for an item
   tags: 
    - picture
   operationId: listPictureForItem
   responses:
    200:
     description: A list of pictures was returned successfully.
     content:
      application/json:
       schema:
        type: object
        properties:
         value:
          type: array
          items:
           $ref: '#/components/schemas/picture'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'width', 'height', 'contentType', 'content']
     style: form
     explode: false
 "/companies({company_id})/items({item_id})/picture({picture_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: item_id
     in: path
     required: true
     description: The unique identifier of the item.
     schema:
      type: string
      format: uuid
   - name: picture_id
     in: path
     required: true
     description: The unique identifier of the picture.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a picture for an item.
   tags: 
    - picture
   operationId: getPictureForItem
   responses:
    200:
     description: The requested picture was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/picture'
   parameters: 
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'width', 'height', 'contentType', 'content']
     style: form
     explode: false
  delete:
   summary: Deletes a picture for an item
   tags: 
    - picture
   operationId: deletePictureForItem
   responses:
    204:
     description: The picture was deleted successfully.
  patch:
   summary: Updates a picture for an item
   tags: 
    - picture
   operationId: patchPictureForItem
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/picture'
   responses:
    200:
     description: The updated picture was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/picture'
 "/companies({company_id})/items({item_id})/defaultDimensions":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: item_id
     in: path
     required: true
     description: The unique identifier of the item.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of default dimensions for an item
   tags: 
    - defaultDimensions
   operationId: listDefaultDimensionsForItem
   responses:
    200:
     description: A list of default dimensions was returned successfully.
     content:
      application/json:
       schema:
        type: object
        properties:
         value:
          type: array
          items:
           $ref: '#/components/schemas/defaultDimensions'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $expand
     x-ballerina-name: expand
     in: query
     description: The related entities to include in the response.
     schema:
      type: array
      items:
       type: string
       enum: ['account', 'dimension', 'dimensionValue']
     style: form
     explode: false
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['parentId', 'dimensionId', 'dimensionCode', 'dimensionValueId', 'dimensionValueCode', 'postingValidation']
     style: form
     explode: false
  post:
   summary: Creates a default dimension for an item
   tags: 
    - defaultDimensions
   operationId: postDefaultDimensionsForItem
   requestBody:
    $ref: '#/components/requestBodies/defaultDimensions'
   responses:
    201:
     description: The default dimension was created successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/defaultDimensions'
 "/companies({company_id})/items({item_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId})":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: item_id
     in: path
     required: true
     description: The unique identifier of the item.
     schema:
      type: string
      format: uuid
   - name: defaultDimensions_parentId
     in: path
     required: true
     description: The parent id of the default dimensions.
     schema:
      type: string
      format: uuid
   - name: defaultDimensions_dimensionId
     in: path
     required: true
     description: The dimension id of the default dimensions.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a default dimension for an item.
   tags: 
    - defaultDimensions
   operationId: getDefaultDimensionsForItem
   responses:
    200:
     description: The requested default dimension was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/defaultDimensions'
   parameters: 
   - name: $expand
     x-ballerina-name: expand
     in: query
     description: The related entities to include in the response.
     schema:
      type: array
      items:
       type: string
       enum: ['account', 'dimension', 'dimensionValue']
     style: form
     explode: false
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['parentId', 'dimensionId', 'dimensionCode', 'dimensionValueId', 'dimensionValueCode', 'postingValidation']
     style: form
     explode: false
  delete:
   summary: Deletes a default dimension for an item
   tags: 
    - defaultDimensions
   operationId: deleteDefaultDimensionsForItem
   responses:
    204:
     description: The default dimension was deleted successfully.
  patch:
   summary: Updates a default dimension for an item
   tags: 
    - defaultDimensions
   operationId: patchDefaultDimensionsForItem
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/defaultDimensions'
   responses:
    200:
     description: The updated default dimension was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/defaultDimensions'
 "/companies({company_id})/picture":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of pictures
   tags: 
    - picture
   operationId: listPicture
   responses:
    200:
     description: A list of pictures was returned successfully.
     content:
      application/json:
       schema:
        type: object
        properties:
         value:
          type: array
          items:
           $ref: '#/components/schemas/picture'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'width', 'height', 'contentType', 'content']
     style: form
     explode: false
 "/companies({company_id})/picture({picture_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: picture_id
     in: path
     required: true
     description: The unique identifier of the picture.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a picture.
   tags: 
    - picture
   operationId: getPicture
   responses:
    200:
     description: The requested picture was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/picture'
   parameters: 
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'width', 'height', 'contentType', 'content']
     style: form
     explode: false
  delete:
   summary: Deletes a picture
   tags: 
    - picture
   operationId: deletePicture
   responses:
    204:
     description: The picture was deleted successfully.
  patch:
   summary: Updates a picture
   tags: 
    - picture
   operationId: patchPicture
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/picture'
   responses:
    200:
     description: The updated picture was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/picture'
 "/companies({company_id})/defaultDimensions":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of default dimensions
   tags: 
    - defaultDimensions
   operationId: listDefaultDimensions
   responses:
    200:
     description: A list of default dimensions was returned successfully.
     content:
      application/json:
       schema:
        type: object
        properties:
         value:
          type: array
          items:
           $ref: '#/components/schemas/defaultDimensions'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $expand
     x-ballerina-name: expand
     in: query
     description: The related entities to include in the response.
     schema:
      type: array
      items:
       type: string
       enum: ['account', 'dimension', 'dimensionValue']
     style: form
     explode: false
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['parentId', 'dimensionId', 'dimensionCode', 'dimensionValueId', 'dimensionValueCode', 'postingValidation']
     style: form
     explode: false
  post:
   summary: Creates a default dimension
   tags: 
    - defaultDimensions
   operationId: postDefaultDimensions
   requestBody:
    $ref: '#/components/requestBodies/defaultDimensions'
   responses:
    201:
     description: The default dimension was created successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/defaultDimensions'
 "/companies({company_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId})":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: defaultDimensions_parentId
     in: path
     required: true
     description: The parent id of the default dimensions.
     schema:
      type: string
      format: uuid
   - name: defaultDimensions_dimensionId
     in: path
     required: true
     description: The dimension id of the default dimensions.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a default dimension.
   tags: 
    - defaultDimensions
   operationId: getDefaultDimensions
   responses:
    200:
     description: The requested default dimension was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/defaultDimensions'
   parameters: 
   - name: $expand
     x-ballerina-name: expand
     in: query
     description: The related entities to include in the response.
     schema:
      type: array
      items:
       type: string
       enum: ['account', 'dimension', 'dimensionValue']
     style: form
     explode: false
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['parentId', 'dimensionId', 'dimensionCode', 'dimensionValueId', 'dimensionValueCode', 'postingValidation']
     style: form
     explode: false
  delete:
   summary: Deletes a default dimension
   tags: 
    - defaultDimensions
   operationId: deleteDefaultDimensions
   responses:
    204:
     description: The default dimension was deleted successfully.
  patch:
   summary: Updates a default dimension
   tags: 
    - defaultDimensions
   operationId: patchDefaultDimensions
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/defaultDimensions'
   responses:
    200:
     description: The updated default dimension was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/defaultDimensions'
 "/companies({company_id})/customers":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of customers
   tags: 
    - customer
   operationId: listCustomers
   responses:
    200:
     description: A list of customers was returned successfully.
     content:
      application/json:
       schema:
        type: object
        properties:
         value:
          type: array
          items:
           $ref: '#/components/schemas/customer'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $expand
     x-ballerina-name: expand
     in: query
     description: The related entities to include in the response.
     schema:
      type: array
      items:
       type: string
       enum: ['customerFinancialDetails', 'picture', 'defaultDimensions', 'currency', 'paymentTerm', 'shipmentMethod', 'paymentMethod']
     style: form
     explode: false
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'number', 'displayName', 'type', 'address', 'phoneNumber', 'email', 'website', 'taxLiable', 'taxAreaId', 'taxAreaDisplayName', 'taxRegistrationNumber', 'currencyId', 'currencyCode', 'paymentTermsId', 'shipmentMethodId', 'paymentMethodId', 'blocked', 'lastModifiedDateTime']
     style: form
     explode: false
  post:
   summary: Creates a customer
   tags: 
    - customer
   operationId: postCustomer
   requestBody:
    $ref: '#/components/requestBodies/customer'
   responses:
    201:
     description: The customer was created successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/customer'
 "/companies({company_id})/customers({customer_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: customer_id
     in: path
     required: true
     description: The unique identifier of the customer.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a customer.
   tags: 
    - customer
   operationId: getCustomer
   responses:
    200:
     description: The requested customer was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/customer'
   parameters: 
   - name: $expand
     x-ballerina-name: expand
     in: query
     description: The related entities to include in the response.
     schema:
      type: array
      items:
       type: string
       enum: ['customerFinancialDetails', 'picture', 'defaultDimensions', 'currency', 'paymentTerm', 'shipmentMethod', 'paymentMethod']
     style: form
     explode: false
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'number', 'displayName', 'type', 'address', 'phoneNumber', 'email', 'website', 'taxLiable', 'taxAreaId', 'taxAreaDisplayName', 'taxRegistrationNumber', 'currencyId', 'currencyCode', 'paymentTermsId', 'shipmentMethodId', 'paymentMethodId', 'blocked', 'lastModifiedDateTime']
     style: form
     explode: false
  delete:
   summary: Deletes a customer
   tags: 
    - customer
   operationId: deleteCustomer
   responses:
    204:
     description: The customer was deleted successfully.
  patch:
   summary: Updates a customer
   tags: 
    - customer
   operationId: patchCustomer
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/customer'
   responses:
    200:
     description: The updated customer was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/customer'
 "/companies({company_id})/customers({customer_id})/customerFinancialDetails":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: customer_id
     in: path
     required: true
     description: The unique identifier of the customer.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of customer financial details for a customer
   tags: 
    - customerFinancialDetail
   operationId: listCustomerFinancialDetailsForCustomer
   responses:
    200:
     description: A list of customer financial details was returned successfully.
     content:
      application/json:
       schema:
        type: object
        properties:
         value:
          type: array
          items:
           $ref: '#/components/schemas/customerFinancialDetail'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'number', 'balance', 'totalSalesExcludingTax', 'overdueAmount']
     style: form
     explode: false
 "/companies({company_id})/customers({customer_id})/customerFinancialDetails({customerFinancialDetail_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: customer_id
     in: path
     required: true
     description: The unique identifier of the customer.
     schema:
      type: string
      format: uuid
   - name: customerFinancialDetail_id
     in: path
     required: true
     description: The unique identifier of the customer financial detail.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a customer financial detail for a customer.
   tags: 
    - customerFinancialDetail
   operationId: getCustomerFinancialDetailForCustomer
   responses:
    200:
     description: The requested customer financial detail was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/customerFinancialDetail'
   parameters: 
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'number', 'balance', 'totalSalesExcludingTax', 'overdueAmount']
     style: form
     explode: false
 "/companies({company_id})/customers({customer_id})/picture":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: customer_id
     in: path
     required: true
     description: The unique identifier of the customer.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of pictures for a customer
   tags: 
    - picture
   operationId: listPictureForCustomer
   responses:
    200:
     description: A list of pictures was returned successfully.
     content:
      application/json:
       schema:
        type: object
        properties:
         value:
          type: array
          items:
           $ref: '#/components/schemas/picture'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'width', 'height', 'contentType', 'content']
     style: form
     explode: false
 "/companies({company_id})/customers({customer_id})/picture({picture_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: customer_id
     in: path
     required: true
     description: The unique identifier of the customer.
     schema:
      type: string
      format: uuid
   - name: picture_id
     in: path
     required: true
     description: The unique identifier of the picture.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a picture for a customer.
   tags: 
    - picture
   operationId: getPictureForCustomer
   responses:
    200:
     description: The requested picture was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/picture'
   parameters: 
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'width', 'height', 'contentType', 'content']
     style: form
     explode: false
  delete:
   summary: Deletes a picture for a customer
   tags: 
    - picture
   operationId: deletePictureForCustomer
   responses:
    204:
     description: The picture was deleted successfully.
  patch:
   summary: Updates a picture for a customer
   tags: 
    - picture
   operationId: patchPictureForCustomer
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/picture'
   responses:
    200:
     description: The updated picture was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/picture'
 "/companies({company_id})/customers({customer_id})/defaultDimensions":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: customer_id
     in: path
     required: true
     description: The unique identifier of the customer.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of default dimensions for a customer
   tags: 
    - defaultDimensions
   operationId: listDefaultDimensionsForCustomer
   responses:
    200:
     description: A list of default dimensions was returned successfully.
     content:
      application/json:
       schema:
        type: object
        properties:
         value:
          type: array
          items:
           $ref: '#/components/schemas/defaultDimensions'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $expand
     x-ballerina-name: expand
     in: query
     description: The related entities to include in the response.
     schema:
      type: array
      items:
       type: string
       enum: ['account', 'dimension', 'dimensionValue']
     style: form
     explode: false
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['parentId', 'dimensionId', 'dimensionCode', 'dimensionValueId', 'dimensionValueCode', 'postingValidation']
     style: form
     explode: false
  post:
   summary: Creates a default dimension for a customer
   tags: 
    - defaultDimensions
   operationId: postDefaultDimensionsForCustomer
   requestBody:
    $ref: '#/components/requestBodies/defaultDimensions'
   responses:
    201:
     description: The default dimension was created successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/defaultDimensions'
 "/companies({company_id})/customers({customer_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId})":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: customer_id
     in: path
     required: true
     description: The unique identifier of the customer.
     schema:
      type: string
      format: uuid
   - name: defaultDimensions_parentId
     in: path
     required: true
     description: The parent id of the default dimensions.
     schema:
      type: string
      format: uuid
   - name: defaultDimensions_dimensionId
     in: path
     required: true
     description: The dimension id of the default dimensions.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a default dimension for a customer.
   tags: 
    - defaultDimensions
   operationId: getDefaultDimensionsForCustomer
   responses:
    200:
     description: The requested default dimension was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/defaultDimensions'
   parameters: 
   - name: $expand
     x-ballerina-name: expand
     in: query
     description: The related entities to include in the response.
     schema:
      type: array
      items:
       type: string
       enum: ['account', 'dimension', 'dimensionValue']
     style: form
     explode: false
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['parentId', 'dimensionId', 'dimensionCode', 'dimensionValueId', 'dimensionValueCode', 'postingValidation']
     style: form
     explode: false
  delete:
   summary: Deletes a default dimension for a customer
   tags: 
    - defaultDimensions
   operationId: deleteDefaultDimensionsForCustomer
   responses:
    204:
     description: The default dimension was deleted successfully.
  patch:
   summary: Updates a default dimension for a customer
   tags: 
    - defaultDimensions
   operationId: patchDefaultDimensionsForCustomer
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/defaultDimensions'
   responses:
    200:
     description: The updated default dimension was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/defaultDimensions'
 "/companies({company_id})/customerFinancialDetails":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of customer financial details
   tags: 
    - customerFinancialDetail
   operationId: listCustomerFinancialDetails
   responses:
    200:
     description: A list of customer financial details was returned successfully.
     content:
      application/json:
       schema:
        type: object
        properties:
         value:
          type: array
          items:
           $ref: '#/components/schemas/customerFinancialDetail'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'number', 'balance', 'totalSalesExcludingTax', 'overdueAmount']
     style: form
     explode: false
 "/companies({company_id})/customerFinancialDetails({customerFinancialDetail_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: customerFinancialDetail_id
     in: path
     required: true
     description: The unique identifier of the customer financial detail.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a customer financial detail.
   tags: 
    - customerFinancialDetail
   operationId: getCustomerFinancialDetail
   responses:
    200:
     description: The requested customer financial detail was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/customerFinancialDetail'
   parameters: 
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'number', 'balance', 'totalSalesExcludingTax', 'overdueAmount']
     style: form
     explode: false
 "/companies({company_id})/vendors":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of vendors
   tags: 
    - vendor
   operationId: listVendors
   responses:
    200:
     description: A list of vendors was returned successfully.
     content:
      application/json:
       schema:
        type: object
        properties:
         value:
          type: array
          items:
           $ref: '#/components/schemas/vendor'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $expand
     x-ballerina-name: expand
     in: query
     description: The related entities to include in the response.
     schema:
      type: array
      items:
       type: string
       enum: ['picture', 'defaultDimensions', 'currency', 'paymentTerm', 'paymentMethod']
     style: form
     explode: false
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'number', 'displayName', 'address', 'phoneNumber', 'email', 'website', 'taxRegistrationNumber', 'currencyId', 'currencyCode', 'irs1099Code', 'paymentTermsId', 'paymentMethodId', 'taxLiable', 'blocked', 'balance', 'lastModifiedDateTime']
     style: form
     explode: false
  post:
   summary: Creates a vendor
   tags: 
    - vendor
   operationId: postVendor
   requestBody:
    $ref: '#/components/requestBodies/vendor'
   responses:
    201:
     description: The vendor was created successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/vendor'
 "/companies({company_id})/vendors({vendor_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: vendor_id
     in: path
     required: true
     description: The unique identifier of the vendor.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a vendor.
   tags: 
    - vendor
   operationId: getVendor
   responses:
    200:
     description: The requested vendor was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/vendor'
   parameters: 
   - name: $expand
     x-ballerina-name: expand
     in: query
     description: The related entities to include in the response.
     schema:
      type: array
      items:
       type: string
       enum: ['picture', 'defaultDimensions', 'currency', 'paymentTerm', 'paymentMethod']
     style: form
     explode: false
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'number', 'displayName', 'address', 'phoneNumber', 'email', 'website', 'taxRegistrationNumber', 'currencyId', 'currencyCode', 'irs1099Code', 'paymentTermsId', 'paymentMethodId', 'taxLiable', 'blocked', 'balance', 'lastModifiedDateTime']
     style: form
     explode: false
  delete:
   summary: Deletes a vendor
   tags: 
    - vendor
   operationId: deleteVendor
   responses:
    204:
     description: The vendor was deleted successfully.
  patch:
   summary: Updates a vendor
   tags: 
    - vendor
   operationId: patchVendor
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/vendor'
   responses:
    200:
     description: The updated vendor was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/vendor'
 "/companies({company_id})/vendors({vendor_id})/picture":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: vendor_id
     in: path
     required: true
     description: The unique identifier of the vendor.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of pictures for a vendor
   tags: 
    - picture
   operationId: listPictureForVendor
   responses:
    200:
     description: A list of pictures was returned successfully.
     content:
      application/json:
       schema:
        type: object
        properties:
         value:
          type: array
          items:
           $ref: '#/components/schemas/picture'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'width', 'height', 'contentType', 'content']
     style: form
     explode: false
 "/companies({company_id})/vendors({vendor_id})/picture({picture_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: vendor_id
     in: path
     required: true
     description: The unique identifier of the vendor.
     schema:
      type: string
      format: uuid
   - name: picture_id
     in: path
     required: true
     description: The unique identifier of the picture.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a picture for a vendor.
   tags: 
    - picture
   operationId: getPictureForVendor
   responses:
    200:
     description: The requested picture was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/picture'
   parameters: 
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'width', 'height', 'contentType', 'content']
     style: form
     explode: false
  delete:
   summary: Deletes a picture for a vendor
   tags: 
    - picture
   operationId: deletePictureForVendor
   responses:
    204:
     description: The picture was deleted successfully.
  patch:
   summary: Updates a picture for a vendor
   tags: 
    - picture
   operationId: patchPictureForVendor
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/picture'
   responses:
    200:
     description: The updated picture was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/picture'
 "/companies({company_id})/vendors({vendor_id})/defaultDimensions":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: vendor_id
     in: path
     required: true
     description: The unique identifier of the vendor.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of default dimensions for a vendor
   tags: 
    - defaultDimensions
   operationId: listDefaultDimensionsForVendor
   responses:
    200:
     description: A list of default dimensions was returned successfully.
     content:
      application/json:
       schema:
        type: object
        properties:
         value:
          type: array
          items:
           $ref: '#/components/schemas/defaultDimensions'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $expand
     x-ballerina-name: expand
     in: query
     description: The related entities to include in the response.
     schema:
      type: array
      items:
       type: string
       enum: ['account', 'dimension', 'dimensionValue']
     style: form
     explode: false
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['parentId', 'dimensionId', 'dimensionCode', 'dimensionValueId', 'dimensionValueCode', 'postingValidation']
     style: form
     explode: false
  post:
   summary: Creates a default dimension for a vendor
   tags: 
    - defaultDimensions
   operationId: postDefaultDimensionsForVendor
   requestBody:
    $ref: '#/components/requestBodies/defaultDimensions'
   responses:
    201:
     description: The default dimension was created successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/defaultDimensions'
 "/companies({company_id})/vendors({vendor_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId})":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: vendor_id
     in: path
     required: true
     description: The unique identifier of the vendor.
     schema:
      type: string
      format: uuid
   - name: defaultDimensions_parentId
     in: path
     required: true
     description: The parent id of the default dimensions.
     schema:
      type: string
      format: uuid
   - name: defaultDimensions_dimensionId
     in: path
     required: true
     description: The dimension id of the default dimensions.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a default dimension for a vendor.
   tags: 
    - defaultDimensions
   operationId: getDefaultDimensionsForVendor
   responses:
    200:
     description: The requested default dimension was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/defaultDimensions'
   parameters: 
   - name: $expand
     x-ballerina-name: expand
     in: query
     description: The related entities to include in the response.
     schema:
      type: array
      items:
       type: string
       enum: ['account', 'dimension', 'dimensionValue']
     style: form
     explode: false
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['parentId', 'dimensionId', 'dimensionCode', 'dimensionValueId', 'dimensionValueCode', 'postingValidation']
     style: form
     explode: false
  delete:
   summary: Deletes a default dimension for a vendor
   tags: 
    - defaultDimensions
   operationId: deleteDefaultDimensionsForVendor
   responses:
    204:
     description: The default dimension was deleted successfully.
  patch:
   summary: Updates a default dimension for a vendor
   tags: 
    - defaultDimensions
   operationId: patchDefaultDimensionsForVendor
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/defaultDimensions'
   responses:
    200:
     description: The updated default dimension was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/defaultDimensions'
 "/companies({company_id})/companyInformation":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of company information records
   tags: 
    - companyInformation
   operationId: listCompanyInformation
   responses:
    200:
     description: A list of company information records was returned successfully.
     content:
      application/json:
       schema:
        type: object
        properties:
         value:
          type: array
          items:
           $ref: '#/components/schemas/companyInformation'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'displayName', 'address', 'phoneNumber', 'faxNumber', 'email', 'website', 'taxRegistrationNumber', 'currencyCode', 'currentFiscalYearStartDate', 'industry', 'picture', 'lastModifiedDateTime']
     style: form
     explode: false
 "/companies({company_id})/companyInformation({companyInformation_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: companyInformation_id
     in: path
     required: true
     description: The unique identifier of the company information.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a company information record.
   tags: 
    - companyInformation
   operationId: getCompanyInformation
   responses:
    200:
     description: The requested company information record was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/companyInformation'
   parameters: 
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'displayName', 'address', 'phoneNumber', 'faxNumber', 'email', 'website', 'taxRegistrationNumber', 'currencyCode', 'currentFiscalYearStartDate', 'industry', 'picture', 'lastModifiedDateTime']
     style: form
     explode: false
  patch:
   summary: Updates a company information record
   tags: 
    - companyInformation
   operationId: patchCompanyInformation
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/companyInformation'
   responses:
    200:
     description: The updated company information record was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/companyInformation'
 "/companies({company_id})/salesInvoices":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of sales invoices
   tags: 
    - salesInvoice
   operationId: listSalesInvoices
   responses:
    200:
     description: A list of sales invoices was returned successfully.
     content:
      application/json:
       schema:
        type: object
        properties:
         value:
          type: array
          items:
           $ref: '#/components/schemas/salesInvoice'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $expand
     x-ballerina-name: expand
     in: query
     description: The related entities to include in the response.
     schema:
      type: array
      items:
       type: string
       enum: ['salesInvoiceLines', 'pdfDocument', 'customer', 'currency', 'paymentTerm', 'shipmentMethod']
     style: form
     explode: false
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'number', 'externalDocumentNumber', 'invoiceDate', 'dueDate', 'customerPurchaseOrderReference', 'customerId', 'contactId', 'customerNumber', 'customerName', 'billToName', 'billToCustomerId', 'billToCustomerNumber', 'shipToName', 'shipToContact', 'sellingPostalAddress', 'billingPostalAddress', 'shippingPostalAddress', 'currencyId', 'currencyCode', 'orderId', 'orderNumber', 'paymentTermsId', 'shipmentMethodId', 'salesperson', 'pricesIncludeTax', 'remainingAmount', 'discountAmount', 'discountAppliedBeforeTax', 'totalAmountExcludingTax', 'totalTaxAmount', 'totalAmountIncludingTax', 'status', 'lastModifiedDateTime', 'phoneNumber', 'email']
     style: form
     explode: false
  post:
   summary: Creates a sales invoice
   tags: 
    - salesInvoice
   operationId: postSalesInvoice
   requestBody:
    $ref: '#/components/requestBodies/salesInvoice'
   responses:
    201:
     description: The sales invoice was created successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/salesInvoice'
 "/companies({company_id})/salesInvoices({salesInvoice_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: salesInvoice_id
     in: path
     required: true
     description: The unique identifier of the sales invoice.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a sales invoice.
   tags: 
    - salesInvoice
   operationId: getSalesInvoice
   responses:
    200:
     description: The requested sales invoice was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/salesInvoice'
   parameters: 
   - name: $expand
     x-ballerina-name: expand
     in: query
     description: The related entities to include in the response.
     schema:
      type: array
      items:
       type: string
       enum: ['salesInvoiceLines', 'pdfDocument', 'customer', 'currency', 'paymentTerm', 'shipmentMethod']
     style: form
     explode: false
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'number', 'externalDocumentNumber', 'invoiceDate', 'dueDate', 'customerPurchaseOrderReference', 'customerId', 'contactId', 'customerNumber', 'customerName', 'billToName', 'billToCustomerId', 'billToCustomerNumber', 'shipToName', 'shipToContact', 'sellingPostalAddress', 'billingPostalAddress', 'shippingPostalAddress', 'currencyId', 'currencyCode', 'orderId', 'orderNumber', 'paymentTermsId', 'shipmentMethodId', 'salesperson', 'pricesIncludeTax', 'remainingAmount', 'discountAmount', 'discountAppliedBeforeTax', 'totalAmountExcludingTax', 'totalTaxAmount', 'totalAmountIncludingTax', 'status', 'lastModifiedDateTime', 'phoneNumber', 'email']
     style: form
     explode: false
  delete:
   summary: Deletes a sales invoice
   tags: 
    - salesInvoice
   operationId: deleteSalesInvoice
   responses:
    204:
     description: The sales invoice was deleted successfully.
  patch:
   summary: Updates a sales invoice
   tags: 
    - salesInvoice
   operationId: patchSalesInvoice
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/salesInvoice'
   responses:
    200:
     description: The updated sales invoice was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/salesInvoice'
 "/companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.cancelAndSend":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: salesInvoice_id
     in: path
     required: true
     description: The unique identifier of the sales invoice.
     schema:
      type: string
      format: uuid
  post:
   summary: Performs the cancel and send action on a sales invoice
   tags: 
    - salesInvoice
   operationId: cancelAndSendActionSalesInvoices
   responses:
    204:
     description: The cancel and send action completed successfully.
 "/companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.cancel":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: salesInvoice_id
     in: path
     required: true
     description: The unique identifier of the sales invoice.
     schema:
      type: string
      format: uuid
  post:
   summary: Performs the cancel action on a sales invoice
   tags: 
    - salesInvoice
   operationId: cancelActionSalesInvoices
   responses:
    204:
     description: The cancel action completed successfully.
 "/companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.makeCorrectiveCreditMemo":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: salesInvoice_id
     in: path
     required: true
     description: The unique identifier of the sales invoice.
     schema:
      type: string
      format: uuid
  post:
   summary: Performs the make corrective credit memo action on a sales invoice
   tags: 
    - salesInvoice
   operationId: makeCorrectiveCreditMemoActionSalesInvoices
   responses:
    204:
     description: The make corrective credit memo action completed successfully.
 "/companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.postAndSend":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: salesInvoice_id
     in: path
     required: true
     description: The unique identifier of the sales invoice.
     schema:
      type: string
      format: uuid
  post:
   summary: Performs the post and send action on a sales invoice
   tags: 
    - salesInvoice
   operationId: postAndSendActionSalesInvoices
   responses:
    204:
     description: The post and send action completed successfully.
 "/companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.post":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: salesInvoice_id
     in: path
     required: true
     description: The unique identifier of the sales invoice.
     schema:
      type: string
      format: uuid
  post:
   summary: Performs the post action on a sales invoice
   tags: 
    - salesInvoice
   operationId: postActionSalesInvoices
   responses:
    204:
     description: The post action completed successfully.
 "/companies({company_id})/salesInvoices({salesInvoice_id})/Microsoft.NAV.send":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: salesInvoice_id
     in: path
     required: true
     description: The unique identifier of the sales invoice.
     schema:
      type: string
      format: uuid
  post:
   summary: Performs the send action on a sales invoice
   tags: 
    - salesInvoice
   operationId: sendActionSalesInvoices
   responses:
    204:
     description: The send action completed successfully.
 "/companies({company_id})/salesInvoices({salesInvoice_id})/salesInvoiceLines":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: salesInvoice_id
     in: path
     required: true
     description: The unique identifier of the sales invoice.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of sales invoice lines for a sales invoice
   tags: 
    - salesInvoiceLine
   operationId: listSalesInvoiceLinesForSalesInvoice
   responses:
    200:
     description: A list of sales invoice lines was returned successfully.
     content:
      application/json:
       schema:
        type: object
        properties:
         value:
          type: array
          items:
           $ref: '#/components/schemas/salesInvoiceLine'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $expand
     x-ballerina-name: expand
     in: query
     description: The related entities to include in the response.
     schema:
      type: array
      items:
       type: string
       enum: ['item', 'account']
     style: form
     explode: false
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'documentId', 'sequence', 'itemId', 'accountId', 'lineType', 'lineDetails', 'description', 'unitOfMeasureId', 'unitOfMeasure', 'unitPrice', 'quantity', 'discountAmount', 'discountPercent', 'discountAppliedBeforeTax', 'amountExcludingTax', 'taxCode', 'taxPercent', 'totalTaxAmount', 'amountIncludingTax', 'invoiceDiscountAllocation', 'netAmount', 'netTaxAmount', 'netAmountIncludingTax', 'shipmentDate']
     style: form
     explode: false
  post:
   summary: Creates a sales invoice line for a sales invoice
   tags: 
    - salesInvoiceLine
   operationId: postSalesInvoiceLineForSalesInvoice
   requestBody:
    $ref: '#/components/requestBodies/salesInvoiceLine'
   responses:
    201:
     description: The sales invoice line was created successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/salesInvoiceLine'
 "/companies({company_id})/salesInvoices({salesInvoice_id})/salesInvoiceLines('{salesInvoiceLine_id}')":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: salesInvoice_id
     in: path
     required: true
     description: The unique identifier of the sales invoice.
     schema:
      type: string
      format: uuid
   - name: salesInvoiceLine_id
     in: path
     required: true
     description: The unique identifier of the sales invoice line.
     schema:
      type: string
  get:
   summary: Returns a sales invoice line for a sales invoice.
   tags: 
    - salesInvoiceLine
   operationId: getSalesInvoiceLineForSalesInvoice
   responses:
    200:
     description: The requested sales invoice line was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/salesInvoiceLine'
   parameters: 
   - name: $expand
     x-ballerina-name: expand
     in: query
     description: The related entities to include in the response.
     schema:
      type: array
      items:
       type: string
       enum: ['item', 'account']
     style: form
     explode: false
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'documentId', 'sequence', 'itemId', 'accountId', 'lineType', 'lineDetails', 'description', 'unitOfMeasureId', 'unitOfMeasure', 'unitPrice', 'quantity', 'discountAmount', 'discountPercent', 'discountAppliedBeforeTax', 'amountExcludingTax', 'taxCode', 'taxPercent', 'totalTaxAmount', 'amountIncludingTax', 'invoiceDiscountAllocation', 'netAmount', 'netTaxAmount', 'netAmountIncludingTax', 'shipmentDate']
     style: form
     explode: false
  delete:
   summary: Deletes a sales invoice line for a sales invoice
   tags: 
    - salesInvoiceLine
   operationId: deleteSalesInvoiceLineForSalesInvoice
   responses:
    204:
     description: The sales invoice line was deleted successfully.
  patch:
   summary: Updates a sales invoice line for a sales invoice
   tags: 
    - salesInvoiceLine
   operationId: patchSalesInvoiceLineForSalesInvoice
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/salesInvoiceLine'
   responses:
    200:
     description: The updated sales invoice line was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/salesInvoiceLine'
 "/companies({company_id})/salesInvoices({salesInvoice_id})/pdfDocument":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: salesInvoice_id
     in: path
     required: true
     description: The unique identifier of the sales invoice.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of PDF documents for a sales invoice
   tags: 
    - pdfDocument
   operationId: listPdfDocumentForSalesInvoice
   responses:
    200:
     description: A list of PDF documents was returned successfully.
     content:
      application/json:
       schema:
        type: object
        properties:
         value:
          type: array
          items:
           $ref: '#/components/schemas/pdfDocument'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'content']
     style: form
     explode: false
 "/companies({company_id})/salesInvoices({salesInvoice_id})/pdfDocument({pdfDocument_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: salesInvoice_id
     in: path
     required: true
     description: The unique identifier of the sales invoice.
     schema:
      type: string
      format: uuid
   - name: pdfDocument_id
     in: path
     required: true
     description: The unique identifier of the pdf document.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a PDF document for a sales invoice.
   tags: 
    - pdfDocument
   operationId: getPdfDocumentForSalesInvoice
   responses:
    200:
     description: The requested PDF document was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/pdfDocument'
   parameters: 
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'content']
     style: form
     explode: false
 "/companies({company_id})/salesInvoiceLines":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of sales invoice lines
   tags: 
    - salesInvoiceLine
   operationId: listSalesInvoiceLines
   responses:
    200:
     description: A list of sales invoice lines was returned successfully.
     content:
      application/json:
       schema:
        type: object
        properties:
         value:
          type: array
          items:
           $ref: '#/components/schemas/salesInvoiceLine'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $expand
     x-ballerina-name: expand
     in: query
     description: The related entities to include in the response.
     schema:
      type: array
      items:
       type: string
       enum: ['item', 'account']
     style: form
     explode: false
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'documentId', 'sequence', 'itemId', 'accountId', 'lineType', 'lineDetails', 'description', 'unitOfMeasureId', 'unitOfMeasure', 'unitPrice', 'quantity', 'discountAmount', 'discountPercent', 'discountAppliedBeforeTax', 'amountExcludingTax', 'taxCode', 'taxPercent', 'totalTaxAmount', 'amountIncludingTax', 'invoiceDiscountAllocation', 'netAmount', 'netTaxAmount', 'netAmountIncludingTax', 'shipmentDate']
     style: form
     explode: false
  post:
   summary: Creates a sales invoice line
   tags: 
    - salesInvoiceLine
   operationId: postSalesInvoiceLine
   requestBody:
    $ref: '#/components/requestBodies/salesInvoiceLine'
   responses:
    201:
     description: The sales invoice line was created successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/salesInvoiceLine'
 "/companies({company_id})/salesInvoiceLines('{salesInvoiceLine_id}')":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: salesInvoiceLine_id
     in: path
     required: true
     description: The unique identifier of the sales invoice line.
     schema:
      type: string
  get:
   summary: Returns a sales invoice line.
   tags: 
    - salesInvoiceLine
   operationId: getSalesInvoiceLine
   responses:
    200:
     description: The requested sales invoice line was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/salesInvoiceLine'
   parameters: 
   - name: $expand
     x-ballerina-name: expand
     in: query
     description: The related entities to include in the response.
     schema:
      type: array
      items:
       type: string
       enum: ['item', 'account']
     style: form
     explode: false
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'documentId', 'sequence', 'itemId', 'accountId', 'lineType', 'lineDetails', 'description', 'unitOfMeasureId', 'unitOfMeasure', 'unitPrice', 'quantity', 'discountAmount', 'discountPercent', 'discountAppliedBeforeTax', 'amountExcludingTax', 'taxCode', 'taxPercent', 'totalTaxAmount', 'amountIncludingTax', 'invoiceDiscountAllocation', 'netAmount', 'netTaxAmount', 'netAmountIncludingTax', 'shipmentDate']
     style: form
     explode: false
  delete:
   summary: Deletes a sales invoice line
   tags: 
    - salesInvoiceLine
   operationId: deleteSalesInvoiceLine
   responses:
    204:
     description: The sales invoice line was deleted successfully.
  patch:
   summary: Updates a sales invoice line
   tags: 
    - salesInvoiceLine
   operationId: patchSalesInvoiceLine
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/salesInvoiceLine'
   responses:
    200:
     description: The updated sales invoice line was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/salesInvoiceLine'
 "/companies({company_id})/pdfDocument":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of PDF documents
   tags: 
    - pdfDocument
   operationId: listPdfDocument
   responses:
    200:
     description: A list of PDF documents was returned successfully.
     content:
      application/json:
       schema:
        type: object
        properties:
         value:
          type: array
          items:
           $ref: '#/components/schemas/pdfDocument'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'content']
     style: form
     explode: false
 "/companies({company_id})/pdfDocument({pdfDocument_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: pdfDocument_id
     in: path
     required: true
     description: The unique identifier of the pdf document.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a PDF document.
   tags: 
    - pdfDocument
   operationId: getPdfDocument
   responses:
    200:
     description: The requested PDF document was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/pdfDocument'
   parameters: 
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'content']
     style: form
     explode: false
 "/companies({company_id})/customerPaymentJournals":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of customer payment journals
   tags: 
    - customerPaymentJournal
   operationId: listCustomerPaymentJournals
   responses:
    200:
     description: A list of customer payment journals was returned successfully.
     content:
      application/json:
       schema:
        type: object
        properties:
         value:
          type: array
          items:
           $ref: '#/components/schemas/customerPaymentJournal'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $expand
     x-ballerina-name: expand
     in: query
     description: The related entities to include in the response.
     schema:
      type: array
      items:
       type: string
       enum: ['customerPayments', 'account']
     style: form
     explode: false
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'code', 'displayName', 'lastModifiedDateTime', 'balancingAccountId', 'balancingAccountNumber']
     style: form
     explode: false
  post:
   summary: Creates a customer payment journal
   tags: 
    - customerPaymentJournal
   operationId: postCustomerPaymentJournal
   requestBody:
    $ref: '#/components/requestBodies/customerPaymentJournal'
   responses:
    201:
     description: The customer payment journal was created successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/customerPaymentJournal'
 "/companies({company_id})/customerPaymentJournals({customerPaymentJournal_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: customerPaymentJournal_id
     in: path
     required: true
     description: The unique identifier of the customer payment journal.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a customer payment journal.
   tags: 
    - customerPaymentJournal
   operationId: getCustomerPaymentJournal
   responses:
    200:
     description: The requested customer payment journal was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/customerPaymentJournal'
   parameters: 
   - name: $expand
     x-ballerina-name: expand
     in: query
     description: The related entities to include in the response.
     schema:
      type: array
      items:
       type: string
       enum: ['customerPayments', 'account']
     style: form
     explode: false
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'code', 'displayName', 'lastModifiedDateTime', 'balancingAccountId', 'balancingAccountNumber']
     style: form
     explode: false
  delete:
   summary: Deletes a customer payment journal
   tags: 
    - customerPaymentJournal
   operationId: deleteCustomerPaymentJournal
   responses:
    204:
     description: The customer payment journal was deleted successfully.
  patch:
   summary: Updates a customer payment journal
   tags: 
    - customerPaymentJournal
   operationId: patchCustomerPaymentJournal
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/customerPaymentJournal'
   responses:
    200:
     description: The updated customer payment journal was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/customerPaymentJournal'
 "/companies({company_id})/customerPaymentJournals({customerPaymentJournal_id})/customerPayments":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: customerPaymentJournal_id
     in: path
     required: true
     description: The unique identifier of the customer payment journal.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of customer payments for a customer payment journal
   tags: 
    - customerPayment
   operationId: listCustomerPaymentsForCustomerPaymentJournal
   responses:
    200:
     description: A list of customer payments was returned successfully.
     content:
      application/json:
       schema:
        type: object
        properties:
         value:
          type: array
          items:
           $ref: '#/components/schemas/customerPayment'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $expand
     x-ballerina-name: expand
     in: query
     description: The related entities to include in the response.
     schema:
      type: array
      items:
       type: string
       enum: ['customer']
     style: form
     explode: false
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'journalDisplayName', 'lineNumber', 'customerId', 'customerNumber', 'contactId', 'postingDate', 'documentNumber', 'externalDocumentNumber', 'amount', 'appliesToInvoiceId', 'appliesToInvoiceNumber', 'description', 'comment', 'dimensions', 'lastModifiedDateTime']
     style: form
     explode: false
  post:
   summary: Creates a customer payment for a customer payment journal
   tags: 
    - customerPayment
   operationId: postCustomerPaymentForCustomerPaymentJournal
   requestBody:
    $ref: '#/components/requestBodies/customerPayment'
   responses:
    201:
     description: The customer payment was created successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/customerPayment'
 "/companies({company_id})/customerPaymentJournals({customerPaymentJournal_id})/customerPayments({customerPayment_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: customerPaymentJournal_id
     in: path
     required: true
     description: The unique identifier of the customer payment journal.
     schema:
      type: string
      format: uuid
   - name: customerPayment_id
     in: path
     required: true
     description: The unique identifier of the customer payment.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a customer payment for a customer payment journal.
   tags: 
    - customerPayment
   operationId: getCustomerPaymentForCustomerPaymentJournal
   responses:
    200:
     description: The requested customer payment was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/customerPayment'
   parameters: 
   - name: $expand
     x-ballerina-name: expand
     in: query
     description: The related entities to include in the response.
     schema:
      type: array
      items:
       type: string
       enum: ['customer']
     style: form
     explode: false
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'journalDisplayName', 'lineNumber', 'customerId', 'customerNumber', 'contactId', 'postingDate', 'documentNumber', 'externalDocumentNumber', 'amount', 'appliesToInvoiceId', 'appliesToInvoiceNumber', 'description', 'comment', 'dimensions', 'lastModifiedDateTime']
     style: form
     explode: false
  delete:
   summary: Deletes a customer payment for a customer payment journal
   tags: 
    - customerPayment
   operationId: deleteCustomerPaymentForCustomerPaymentJournal
   responses:
    204:
     description: The customer payment was deleted successfully.
  patch:
   summary: Updates a customer payment for a customer payment journal
   tags: 
    - customerPayment
   operationId: patchCustomerPaymentForCustomerPaymentJournal
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/customerPayment'
   responses:
    200:
     description: The updated customer payment was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/customerPayment'
 "/companies({company_id})/customerPayments":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of customer payments
   tags: 
    - customerPayment
   operationId: listCustomerPayments
   responses:
    200:
     description: A list of customer payments was returned successfully.
     content:
      application/json:
       schema:
        type: object
        properties:
         value:
          type: array
          items:
           $ref: '#/components/schemas/customerPayment'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $expand
     x-ballerina-name: expand
     in: query
     description: The related entities to include in the response.
     schema:
      type: array
      items:
       type: string
       enum: ['customer']
     style: form
     explode: false
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'journalDisplayName', 'lineNumber', 'customerId', 'customerNumber', 'contactId', 'postingDate', 'documentNumber', 'externalDocumentNumber', 'amount', 'appliesToInvoiceId', 'appliesToInvoiceNumber', 'description', 'comment', 'dimensions', 'lastModifiedDateTime']
     style: form
     explode: false
  post:
   summary: Creates a customer payment
   tags: 
    - customerPayment
   operationId: postCustomerPayment
   requestBody:
    $ref: '#/components/requestBodies/customerPayment'
   responses:
    201:
     description: The customer payment was created successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/customerPayment'
 "/companies({company_id})/customerPayments({customerPayment_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: customerPayment_id
     in: path
     required: true
     description: The unique identifier of the customer payment.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a customer payment.
   tags: 
    - customerPayment
   operationId: getCustomerPayment
   responses:
    200:
     description: The requested customer payment was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/customerPayment'
   parameters: 
   - name: $expand
     x-ballerina-name: expand
     in: query
     description: The related entities to include in the response.
     schema:
      type: array
      items:
       type: string
       enum: ['customer']
     style: form
     explode: false
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'journalDisplayName', 'lineNumber', 'customerId', 'customerNumber', 'contactId', 'postingDate', 'documentNumber', 'externalDocumentNumber', 'amount', 'appliesToInvoiceId', 'appliesToInvoiceNumber', 'description', 'comment', 'dimensions', 'lastModifiedDateTime']
     style: form
     explode: false
  delete:
   summary: Deletes a customer payment
   tags: 
    - customerPayment
   operationId: deleteCustomerPayment
   responses:
    204:
     description: The customer payment was deleted successfully.
  patch:
   summary: Updates a customer payment
   tags: 
    - customerPayment
   operationId: patchCustomerPayment
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/customerPayment'
   responses:
    200:
     description: The updated customer payment was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/customerPayment'
 "/companies({company_id})/accounts":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of general ledger accounts
   tags: 
    - account
   operationId: listAccounts
   responses:
    200:
     description: A list of general ledger accounts was returned successfully.
     content:
      application/json:
       schema:
        type: object
        properties:
         value:
          type: array
          items:
           $ref: '#/components/schemas/account'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'number', 'displayName', 'category', 'subCategory', 'blocked', 'lastModifiedDateTime']
     style: form
     explode: false
 "/companies({company_id})/accounts({account_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: account_id
     in: path
     required: true
     description: The unique identifier of the account.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a general ledger account.
   tags: 
    - account
   operationId: getAccount
   responses:
    200:
     description: The requested general ledger account was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/account'
   parameters: 
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'number', 'displayName', 'category', 'subCategory', 'blocked', 'lastModifiedDateTime']
     style: form
     explode: false
 "/companies({company_id})/taxGroups":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of tax groups
   tags: 
    - taxGroup
   operationId: listTaxGroups
   responses:
    200:
     description: A list of tax groups was returned successfully.
     content:
      application/json:
       schema:
        type: object
        properties:
         value:
          type: array
          items:
           $ref: '#/components/schemas/taxGroup'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'code', 'displayName', 'taxType', 'lastModifiedDateTime']
     style: form
     explode: false
  post:
   summary: Creates a tax group
   tags: 
    - taxGroup
   operationId: postTaxGroup
   requestBody:
    $ref: '#/components/requestBodies/taxGroup'
   responses:
    201:
     description: The tax group was created successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/taxGroup'
 "/companies({company_id})/taxGroups({taxGroup_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: taxGroup_id
     in: path
     required: true
     description: The unique identifier of the tax group.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a tax group.
   tags: 
    - taxGroup
   operationId: getTaxGroup
   responses:
    200:
     description: The requested tax group was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/taxGroup'
   parameters: 
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'code', 'displayName', 'taxType', 'lastModifiedDateTime']
     style: form
     explode: false
  delete:
   summary: Deletes a tax group
   tags: 
    - taxGroup
   operationId: deleteTaxGroup
   responses:
    204:
     description: The tax group was deleted successfully.
  patch:
   summary: Updates a tax group
   tags: 
    - taxGroup
   operationId: patchTaxGroup
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/taxGroup'
   responses:
    200:
     description: The updated tax group was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/taxGroup'
 "/companies({company_id})/journals":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of journals
   tags: 
    - journal
   operationId: listJournals
   responses:
    200:
     description: A list of journals was returned successfully.
     content:
      application/json:
       schema:
        type: object
        properties:
         value:
          type: array
          items:
           $ref: '#/components/schemas/journal'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $expand
     x-ballerina-name: expand
     in: query
     description: The related entities to include in the response.
     schema:
      type: array
      items:
       type: string
       enum: ['journalLines', 'account']
     style: form
     explode: false
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'code', 'displayName', 'lastModifiedDateTime', 'balancingAccountId', 'balancingAccountNumber']
     style: form
     explode: false
  post:
   summary: Creates a journal
   tags: 
    - journal
   operationId: postJournal
   requestBody:
    $ref: '#/components/requestBodies/journal'
   responses:
    201:
     description: The journal was created successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/journal'
 "/companies({company_id})/journals({journal_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: journal_id
     in: path
     required: true
     description: The unique identifier of the journal.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a journal.
   tags: 
    - journal
   operationId: getJournal
   responses:
    200:
     description: The requested journal was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/journal'
   parameters: 
   - name: $expand
     x-ballerina-name: expand
     in: query
     description: The related entities to include in the response.
     schema:
      type: array
      items:
       type: string
       enum: ['journalLines', 'account']
     style: form
     explode: false
   - name: $select
     x-ballerina-name: select
     in: query
     description: The properties to include in the returned entities. 
     schema:
      type: array
      items:
       type: string
       enum: ['id', 'code', 'displayName', 'lastModifiedDateTime', 'balancingAccountId', 'balancingAccountNumber']
     style: form
     explode: false
  delete:
   summary: Deletes a journal
   tags: 
    - journal
   operationId: deleteJournal
   responses:
    204:
     description: The journal was deleted successfully.
  patch:
   summary: Updates a journal
   tags: 
    - journal
   operationId: patchJournal
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/journal'
   responses:
    200:
     description: The updated journal was returned successfully.
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/journal'
 "/companies({company_id})/journals({journal_id})/Microsoft.NAV.post":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: journal_id
     in: path
     required: true
     description: The unique identifier of the journal.
     schema:
      type: string
      format: uuid
  post:
   summary: Performs the post action on a journal
   tags: 
    - journal
   operationId: postActionJournals
   responses:
    204:
     description: The post action completed successfully.
 "/companies({company_id})/journals({journal_id})/journalLines":
  parameters: 
   - name: company_id
     in: path
     required: true
     description: The unique identifier of the company.
     schema:
      type: string
      format: uuid
   - name: journal_id
     in: path
     required: true
     description: The unique identifier of the journal.
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of journal lines for a journal
   tags: 
    - journalLine
   operationId: listJournalLinesForJournal
   responses:
    200:
     description: A list of journal lines was returned successfully.
     content:
      application/json:
       schema:
        type: object
[...]
